Django==1.11.29
dj-database-url==0.4.2
psycopg2-binary==2.8.6
whitenoise==3.3.0
pillow==8.4.0
reportlab==3.5.67
xhtml2pdf==0.2.5
xlwt==1.3.0
django-storages==1.6.3
boto3==1.26.137
sendgrid==6.9.7
stripe==5.5.0
python-dateutil==2.8.2
pytz==2022.7.1
requests==2.28.2
six==1.16.0
html5lib==1.1
arabic-reshaper==2.1.4
python-bidi==0.4.2
jsonfield==2.1.1
shortuuid==1.0.11
