{% extends "production/base.html" %}
{% block title %} Add Home Modification Manager {% endblock %}
{% block headlibs %}
{% load static %}
<!-- iCheck -->
<link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
<!-- bootstrap-wysiwyg -->
<link href="{% static 'vendors/google-code-prettify/bin/prettify.min.css' %}" rel="stylesheet">
<!-- Switchery -->
<link href="{% static 'vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">
<!-- starrr -->
<link href="{% static 'vendors/starrr/dist/starrr.css' %}" rel="stylesheet">
<!-- bootstrap-daterangepicker -->
<link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
<!-- Select2 -->
<link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}
{% block pagecontent %}
    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Home Modification Manager Details</h3>
          </div>
        </div>
        <div class="clearfix"></div>
        {{block.super}}
        <!--Patient Personal Details form-->
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>General<small>enter general information</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content"> <br />
                <form enctype="multipart/form-data" method='post' action="{% url 'add_home_mod_manager' %}" class="form-horizontal form-label-left">
                  {% csrf_token %}
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not home_mod_manager_form.first_name.value is None %}
                        <input type="text" required="required" class="form-control col-md-7 col-xs-12" name="{{home_mod_manager_form.first_name.html_name}}" value="{{home_mod_manager_form.first_name.value}}">
                      {% else %}
                        <input type="text" required="required" class="form-control col-md-7 col-xs-12" name="{{home_mod_manager_form.first_name.html_name}}">
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not home_mod_manager_form.last_name.value is None %}
                        <input type="text" required="required" class="form-control col-md-7 col-xs-12" name="{{home_mod_manager_form.last_name.html_name}}" value="{{home_mod_manager_form.last_name.value}}">
                      {% else %}
                        <input type="text" required="required" class="form-control col-md-7 col-xs-12" name="{{home_mod_manager_form.last_name.html_name}}">
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Middle Name / Initial</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not home_mod_manager_form.middle_name.value is None %}
                        <input type="text" class="form-control col-md-7 col-xs-12" name="{{home_mod_manager_form.middle_name.html_name}}" value="{{home_mod_manager_form.middle_name.value}}">
                      {% else %}
                        <input type="text" class="form-control col-md-7 col-xs-12" name="{{home_mod_manager_form.middle_name.html_name}}">
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender<span class="required">*</span></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div>

                        {% if not home_mod_manager_form.gender.value is None %}

                        {% if home_mod_manager_form.gender.value == "M" %}
                        <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                          <input type="radio" checked name="{{home_mod_manager_form.gender.html_name}}" value="M" required="required">
                          &nbsp; Male &nbsp; </label>
                        <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                          <input type="radio" name="{{home_mod_manager_form.gender.html_name}}" value="F">
                          Female </label>

                        {% endif %}
                        {% if home_mod_manager_form.gender.value == "F" %}
                        <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                          <input type="radio"  name="{{home_mod_manager_form.gender.html_name}}" value="M" required="required">
                          &nbsp; Male &nbsp; </label>
                        <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                          <input type="radio" checked name="{{home_mod_manager_form.gender.html_name}}" value="F">
                          Female </label>

                          {% endif %}
                          {% else %}
                        <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                          <input type="radio" name="{{home_mod_manager_form.gender.html_name}}" value="M" required="required">
                          &nbsp; Male &nbsp; </label>
                        <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                          <input type="radio" name="{{home_mod_manager_form.gender.html_name}}" value="F">
                          Female </label>

                          {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">Address <span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not home_mod_manager_form.address.value is None %}
                        <input type="text" class="form-control col-md-7 col-xs-12" required="required" name="{{home_mod_manager_form.address.html_name}}" value="{{home_mod_manager_form.address.value}}"></textarea>
                      {% else %}
                        <input type="text" class="form-control col-md-7 col-xs-12" required="required" name="{{home_mod_manager_form.address.html_name}}"></textarea>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">City<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not home_mod_manager_form.city.value is None %}
                        <input type="text" class="form-control col-md-7 col-xs-12" required="required" name="{{home_mod_manager_form.city.html_name}}" value="{{home_mod_manager_form.city.value}}">
                      {% else %}
                        <input type="text" class="form-control col-md-7 col-xs-12" required="required" name="{{home_mod_manager_form.city.html_name}}">
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">State<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12" onchange= "update_state()">
                      {% if not home_mod_manager_form.state_value is None %}
                      <select required class="select2_single form-control" tabindex="-1" id="dropDownId" name={{home_mod_manager_form.state.html_name}} value={{home_mod_manager_form.state.value}}>
                        <option   selected=selected>{{home_mod_manager_form.state.value}}</option>
                        {% for statename in all_state %}
                        <option value='{{statename.state_name}}'>{{statename.state_name}}</option>
                      {% endfor %}
                      </select>
                      {% else %}
                      <select required class="select2_single form-control" tabindex="-1" id="dropDownId" name={{home_mod_manager_form.state.html_name}}>
                            <option value="" disabled selected>Select State</option>
                            {% for statename in all_state %}
                            <option value='{{statename.state_name}}'>{{statename.state_name}}</option>
                          {% endfor %}
                      </select>
                      {% endif %}
                    </div>
                  </div>

                  <div class="form-group">
                    <div  id="selectlead" style="display:none"> 
                     <label class="control-label col-md-3 col-sm-3 col-xs-12">Other State name<span class="required">*</span> </label>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                       {% if not home_mod_manager_form.other_state_name.value is None %}
                       <input type="text" id="otherstatevalue"  class="form-control col-md-7 col-xs-12"  name={{home_mod_manager_form.other_state_name.html_name}} value={{home_mod_manager_form.other_state_name.value}}>
                       {% else %}
                       <input type="text" id="otherstatevalue" class="form-control col-md-7 col-xs-12"  name={{home_mod_manager_form.other_state_name.html_name}}>
                       {% endif %}
                     </div>
                   </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">ZIP code<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not home_mod_manager_form.zip_code.value is None %}
                        <input type="text" class="form-control col-md-7 col-xs-12" required="required" name={{home_mod_manager_form.zip_code.html_name}} value={{home_mod_manager_form.zip_code.value}}>
                      {% else %}
                        <input type="text" class="form-control col-md-7 col-xs-12" required="required" name={{home_mod_manager_form.zip_code.html_name}}>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Birth <span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not home_mod_manager_form.date_of_birth.value is None %}
                        <input type="text" id="birthdayatfr" class="date-picker form-control col-md-7 col-xs-12" required="required" name={{home_mod_manager_form.date_of_birth.html_name}} value={{home_mod_manager_form.date_of_birth.value}}>
                      {% else %}
                        <input type="text" id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" name={{home_mod_manager_form.date_of_birth.html_name}}>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Phone Number <span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not home_mod_manager_form.phone_number.value is None %}
                        <input type="text" class="form-control col-md-7 col-xs-12" id="phone-number" required="required" name={{home_mod_manager_form.phone_number.html_name}} value={{home_mod_manager_form.phone_number.value}}>
                      {% else %}
                        <input type="text" class="form-control col-md-7 col-xs-12" id="phone-number" required="required" name={{home_mod_manager_form.phone_number.html_name}}>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Email Address<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not home_mod_manager_form.email.value is None %}
                        <input type="text" class="form-control col-md-7 col-xs-12" required="required" name={{home_mod_manager_form.email.html_name}} value={{home_mod_manager_form.email.value}}>
                      {% else %}
                        <input type="text" class="form-control col-md-7 col-xs-12" required="required" name={{home_mod_manager_form.email.html_name}}>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Profile Picture</label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{home_mod_manager_form.profile_picture.label_tag}}{{home_mod_manager_form.profile_picture}}
                        <span class="required">*formats supported jpeg, png, jpg</span>
                      </div>
                  </div>
                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <button type="submit" class="btn btn-primary">Cancel</button>
                      <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->
    {% endblock %}

{% block footlibs %}
<!-- bootstrap-daterangepicker -->
<script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<!-- Dropzone.js -->
<script src="{% static 'vendors/dropzone/dist/min/dropzone.min.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>
<!-- jquery.inputmask -->
<script src="{% static 'vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>
{% endblock %}

{% block scripts %}
<!-- Select2 -->
<script>
      $(document).ready(function() {
        $(".select2_single").select2({
          placeholder: "Select a state",
          allowClear: true,
           
          
        });
        
        $(".select2_group").select2({});
        $(".select2_multiple").select2({
          maximumSelectionLength: 5,
          placeholder: "With Max Selection limit 5",
          allowClear: true
        });
      });
    </script>
<!-- /Select2 -->

<!-- bootstrap-daterangepicker -->
    <script>
      $(document).ready(function() {
        $('#birthday').daterangepicker({
          singleDatePicker: true,
          showDropdowns: true,
          calender_style: "picker_4"
        }, function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
        })
        $('#birthday').val("");
      });
    </script>
<!-- /bootstrap-daterangepicker -->

<!-- jquery.inputmask -->
  <script>
    $(document).ready(function(){
      $(":input").inputmask();
    });
  </script>
<!-- /jquery.inputmask -->

<script>
  function update_state() {
      // Get the checkbox
      values = $('#dropDownId :selected').val()
      console.log("ssss ---",values)
      // Get the output text
      var selectlead = document.getElementById("selectlead");
      
      if (values === "Other") {
          selectlead.style.display = "block";
          $('#otherstatevalue').attr('required', 'required');
    
      } else {
          selectlead.style.display = "none";
          $('#otherstatevalue').removeAttr('required');
      
      }
  }
</script>



<script>
  $(document).ready(function() {
    $('#birthdayatfr').daterangepicker({
      singleDatePicker: true,
      showDropdowns: true,
      maxDate: new Date,
      calender_style: "picker_4"
    }, function(start, end, label) {
      console.log(start.toISOString(), end.toISOString(), label);
    });
    // $('#birthday').val("");
  });
</script>

<script>
  $(document).ready(function() {

   values = $('#dropDownId :selected').val()
     console.log("ssss ---",values)
     // Get the output text
     var selectlead = document.getElementById("selectlead");
     
     if (values === "Other") {
       selectlead.style.display = "block";
       $('#otherstatevalue').attr('required', 'required');

     }
     else
     {
       selectlead.style.display = "none";
       $('#otherstatevalue').removeAttr('required');

     }


  })



</script>

<script>
  $(document).ready(function(){
    // Inputmask("(999)-999-9999").mask("input");
   
    $("#phone-number").inputmask("(999)-999-9999",  {showMaskOnFocus: false, showMaskOnHover: true});
  });
</script>










{% endblock %}
