{% extends "production/base.html" %}
{% block title %} Admin Dashboard {% endblock %}
{% load static %}
{% block headlibs %}
{% load static %}
    <!-- iCheck -->
    <link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="{% static 'vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
    <!-- JQVMap -->
    <link href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
{% endblock %}
{% block pagecontent %}
        <!-- page content -->
        <div class="right_col" role="main">
          {{block.super}}
          <!-- top tiles -->
          <div class="row">
            <h1>Company Name: {{company_details.company_name}} </h1>
            <h1>Address: {{company_details.address}}</h1>
            <h1>Contact Number: {{company_details.contact_number}}</h1>
          </div>
          <hr>

          <div class="container">
            <div class="row">
              <div class="col-sm-2">
                <h2> Task Details </h2>
              </div>
              <div class="col-sm-6">
                <div id="reportrange_right" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                  <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                  <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                </div>
              </div>
            </div>
          </div>
          <div class="row tile_count">
            <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i>Total Scheduled Tasks</span>
              <div class="count"><a href="{% url 'view_tasks' task_type='scheduled' start_date=current_date end_date=current_date %}" id="total_scheduled_tasks" class="green">{{total_scheduled_tasks}}</a></div>
              <span id="total_scheduled_tasks_sub" class="count_bottom">{{total_scheduled_tasks}} scheduled tasks</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i>Total Pending Tasks</span>
              <div class="count"><a href="{% url 'view_tasks' task_type='pending' start_date=current_date end_date=current_date %}" id="total_pending_tasks" class="green">{{total_pending_tasks}}</a></div>
              <span id="total_pending_tasks_sub" class="count_bottom">{{total_pending_tasks}} pending tasks</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i>Total Tasks in Progress</span>
              <div class="count"><a href="{% url 'view_tasks' task_type='in_progress' start_date=current_date end_date=current_date %}" id="total_in_progress_tasks" class="green">{{total_in_progress_tasks}}</a></div>
              <span id="total_in_progress_tasks_sub" class="count_bottom">{{total_in_progress_tasks}} tasks in progress</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i>Total Completed Tasks</span>
              <div class="count"><a href="{% url 'view_tasks' task_type='complete' start_date=current_date end_date=current_date %}" id="total_completed_tasks" class="green">{{total_completed_tasks}}</a></div>
              <span id="total_completed_tasks_sub" class="count_bottom">{{total_completed_tasks}} completed tasks</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i>Total Cancelled Tasks</span>
              <div class="count"><a href="{% url 'view_tasks' task_type='cancelled' start_date=current_date end_date=current_date %}" id="total_cancelled_tasks" class="green">{{total_cancelled_tasks}}</a></div>
              <span id="total_cancelled_tasks_sub" class="count_bottom">{{total_cancelled_tasks}} cancelled tasks</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i>Total Default Tasks</span>
              <div class="count"><a href="{% url 'view_tasks' task_type='default' start_date=current_date end_date=current_date %}" class="green">{{default_tasks}}</a></div>
              <span class="count_bottom">{{default_tasks}} default tasks</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i>Total Custom Tasks</span>
              <div class="count"><a href="{% url 'view_tasks' task_type='custom' start_date=current_date end_date=current_date %}" class="green">{{custom_tasks}}</a></div>
              <span class="count_bottom">{{custom_tasks}} custom tasks</span>
            </div>
          </div>
          <hr>
          <div class="row tile_count">
            <h2> Company details </h2>
            <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i>Total Clients</span>
              <div class="count"><i class="green">{{total_clients}}</i></div>
              <span class="count_bottom">{{total_clients}} registered clients</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i>Total Caregivers</span>
              <div class="count"><i class="green">{{total_caregivers}}</i></div>
              <span class="count_bottom">{{total_caregivers}} registered caregivers</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i>Total Family Members</span>
              <div class="count"><i class="green">{{total_family_users}}</i></div>
              <span class="count_bottom">{{total_family_users}} registered family members</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i>Total Providers</span>
              <div class="count"><i class="green">{{total_providers}}</i></div>
              <span class="count_bottom">{{total_providers}} registered providers</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i>Total Care Managers</span>
              <div class="count"><i class="green">{{total_care_managers}}</i></div>
              <span class="count_bottom">{{total_care_managers}} registered care managers</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i>Total Registered Tablets</span>
              <div class="count"><i class="green">{{registered_tablets}}</i></div>
              <span class="count_bottom">{{registered_tablets}} registered tablets</span>
            </div>
          </div>
          <!-- /top tiles -->
          <br />
        </div>
        <!-- /page content -->
{% endblock %}
{% block footlibs %}
    <!-- Chart.js -->
    <script src="{% static 'vendors/Chart.js/dist/Chart.min.js' %}"></script>
    <!-- gauge.js -->
    <script src="{% static 'vendors/gauge.js/dist/gauge.min.js' %}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{% static 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
    <!-- Skycons -->
    <script src="{% static 'vendors/skycons/skycons.js' %}"></script>
    <!-- Flot -->
    <script src="{% static 'vendors/Flot/jquery.flot.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'vendors/Flot/jquery.flot.resize.js' %}"></script>
    <!-- Flot plugins -->
    <script src="{% static 'vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
    <script src="{% static 'vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
    <script src="{% static 'vendors/flot.curvedlines/curvedLines.js' %}"></script>
    <!-- DateJS -->
    <script src="{% static 'vendors/DateJS/build/date.js' %}"></script>
    <!-- JQVMap -->
    <script src="{% static 'vendors/jqvmap/dist/jquery.vmap.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
{% endblock %}
{% block scripts %}
<!-- bootstrap-daterangepicker -->
<script>
  $(document).ready(function() {
    var cb = function(start, end, label) {
      console.log(start.toISOString(), end.toISOString(), label);
      $('#reportrange_right span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    };

    var optionSet1 = {
      startDate: moment(),
      endDate: moment(),
      minDate: '01/01/2012',
      maxDate: '12/31/2020',
      showDropdowns: true,
      showWeekNumbers: true,
      timePicker: false,
      timePickerIncrement: 1,
      timePicker12Hour: true,
      ranges: {
        'Today': [moment(), moment()],
        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
        'This Month': [moment().startOf('month'), moment().endOf('month')],
        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
      },
      opens: 'right',
      buttonClasses: ['btn btn-default'],
      applyClass: 'btn-small btn-primary',
      cancelClass: 'btn-small',
      format: 'MM/DD/YYYY',
      separator: ' to ',
      locale: {
        applyLabel: 'Submit',
        cancelLabel: 'Clear',
        fromLabel: 'From',
        toLabel: 'To',
        customRangeLabel: 'Custom',
        daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
        monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        firstDay: 1
      }
    };

    $('#reportrange_right span').html(moment().format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

    $('#reportrange_right').daterangepicker(optionSet1, cb);

    $('#reportrange_right').on('show.daterangepicker', function() {
      console.log("show event fired");
    });
    $('#reportrange_right').on('hide.daterangepicker', function() {
      console.log("hide event fired");
    });
    $('#reportrange_right').on('apply.daterangepicker', function(ev, picker) {
      console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
      var start_date = picker.startDate.format('YYYY-MM-DD');
      var end_date = picker.endDate.format('YYYY-MM-DD');
      console.log(start_date);
      console.log(end_date);
      $.ajax({
        type: "GET",
        url: '{% url "date_filter_dashboard" %}',
        data: { start_date: start_date, end_date: end_date},
        dataType: "json",
        contentType: "application/json",
        success: function(dashboard_task_data){
          console.log(dashboard_task_data.total_scheduled_tasks);
          $('#total_scheduled_tasks').html(dashboard_task_data.total_scheduled_tasks);
          $('#total_pending_tasks').html(dashboard_task_data.total_pending_tasks);
          $('#total_in_progress_tasks').html(dashboard_task_data.total_in_progress_tasks);
          $('#total_completed_tasks').html(dashboard_task_data.total_completed_tasks);
          $('#total_cancelled_tasks').html(dashboard_task_data.total_cancelled_tasks);

          $('#total_scheduled_tasks_sub').html(dashboard_task_data.total_scheduled_tasks + " scheduled tasks");
          $('#total_pending_tasks_sub').html(dashboard_task_data.total_pending_tasks + " pending tasks");
          $('#total_in_progress_tasks_sub').html(dashboard_task_data.total_in_progress_tasks + " in progress tasks");
          $('#total_completed_tasks_sub').html(dashboard_task_data.total_completed_tasks + " completed tasks");
          $('#total_cancelled_tasks_sub').html(dashboard_task_data.total_cancelled_tasks + " cancelled tasks");
          var schedule_url = '{% url "view_tasks" "scheduled" "2018-01-01" "2018-01-02" %}'.replace('2018-01-01',start_date).replace('2018-01-02',end_date);
          var pending_url = '{% url "view_tasks" "pending" "2018-01-01" "2018-01-02" %}'.replace('2018-01-01',start_date).replace('2018-01-02',end_date);
          var progress_url = '{% url "view_tasks" "in_progress" "2018-01-01" "2018-01-02" %}'.replace('2018-01-01',start_date).replace('2018-01-02',end_date);
          var completed_url = '{% url "view_tasks" "complete" "2018-01-01" "2018-01-02" %}'.replace('2018-01-01',start_date).replace('2018-01-02',end_date);
          var cancelled_url = '{% url "view_tasks" "cancelled" "2018-01-01" "2018-01-02" %}'.replace('2018-01-01',start_date).replace('2018-01-02',end_date);
          $('#total_scheduled_tasks').attr("href", schedule_url);
          $('#total_pending_tasks').attr("href", pending_url);
          $('#total_in_progress_tasks').attr("href", progress_url);
          $('#total_completed_tasks').attr("href", completed_url);
          $('#total_cancelled_tasks').attr("href", cancelled_url);
          //$('#caregiver_detail_name').html(caregiver_data.name);
          //$('#caregiver_detail_address').html('Address: ' + caregiver_data.address);
          //$('#caregiver_detail_phone_number').html('Phone Number: ' + caregiver_data.phone_number);
          //$('#caregiver_detail_dob').html('Date of Birth: ' + caregiver_data.date_of_birth);
          //$('#caregiver_detail_email').html('Email: ' + caregiver_data.email_address);
          //$('#caregiver_detail_gender').html('Gender: ' + caregiver_data.gender);
          //$('#caregiver_email_hidden').val(caregiver_data.email_address);
          //$('#caregiver_detail_img').html('<img src=' + caregiver_data.profile_picture + ' class="img-circle img-responsive">');
        },
        failure: function(){
          alert('error fetching data');
        }
      });
    });
    $('#reportrange_right').on('cancel.daterangepicker', function(ev, picker) {
      console.log("cancel event fired");
    });

    $('#options1').click(function() {
      $('#reportrange_right').data('daterangepicker').setOptions(optionSet1, cb);
    });

    $('#options2').click(function() {
      $('#reportrange_right').data('daterangepicker').setOptions(optionSet2, cb);
    });

    $('#destroy').click(function() {
      $('#reportrange_right').data('daterangepicker').remove();
    });
  });
</script>
<!-- /bootstrap-daterangepicker -->

    {% endblock %}
