<div class="modal fade" id="conferenceModal" role="dialog">
    <input type="hidden" id="videoLink" value="" />
    <div class="modal-dialog">
    
      <form name="user_form" role="form" id="user_form">
      <!-- <form method="post" role="form" action="{% url 'send_call_notification' %}"> -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Available Users For Call</h4>
        </div>
        <div class="modal-body">
            {% if caregiver %}
            <div class="row">
            
            <h5>Caregivers</h5>
            <hr>
            
            {% for caregiver in caregiver %}
            <div>
              <input type="radio" id="radio1" name="radio1" value="{{caregiver.user}}">
              <label class="custom-control-label" for="radio1">{{caregiver.first_name}}&nbsp;{{caregiver.last_name}}</label>
            </div>
           {% endfor %}
           
          </div>
          
          <hr>
          {% endif %}
          {% if family_member %}
          <div class="row">
            <h5>Family Members</h5>
            <hr>
            {% for member in family_member %}
            <div class="col-sm-5">
              <input type="radio" id="radio1" name="radio1" value="{{member.user}}">
              <label class="custom-control-label" for="radio1">{{member.first_name}}&nbsp;{{member.last_name}} </label>
            </div>
           {% endfor %}
          </div>
          <hr>  
          {% endif %}
          {% if provider %}
          <div class="row">
            <h5>Providers</h5>
            <hr>
            {% for provider in provider %}
            <div class="col-sm-5">
              <input type="radio" id="radio1" name="radio1" value={{provider.user}}>
              <label class="custom-control-label" for="radio1">{{provider.first_name}}&nbsp;{{provider.last_name}}</label>
            </div>
           {% endfor %}
          </div>
        </div>
        {% endif %}
        
        <div class="modal-footer">
          <button type="button" onclick="submit_notification_form()"  class="btn btn-primary" >Send Call Request</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
    </div>
  </div>
  