{% extends "production/base.html" %}
{% block title %} Caregiver Dashboard {% endblock %}
{% load mycareportal_app_extras%}
{% block headlibs %}
{% load static %}
    <!-- bootstrap-wysiwyg -->
    <link href="{% static 'vendors/google-code-prettify/bin/prettify.min.css' %}" rel="stylesheet">
    <!-- Select2 -->
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">
    <!-- Switchery -->
    <link href="{% static 'vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">
    <!-- starrr -->
    <link href="{% static 'vendors/starrr/dist/starrr.css' %}" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
{% endblock %}
{% block logout %}
  {% if tasks_not_complete %}
    <li><a onclick="logout_modal_show();"><i class="fa fa-sign-out pull-right"></i>Logout</a></li>
  {% else %}
    {{block.super}}
  {% endif %}
{% endblock %}
{% block pagecontent %}
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Dashboard</h3>
              </div>
            </div>

            <div class="clearfix"></div>
            {{block.super}}
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Daily Report - {{current_date}}</h2>
                    <!--<ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
                    </ul>-->
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      {% if request.session.current_time_sheet %}
                        <h4>Clocked in for: {{clocked_in_time}}</h4>
                      {% endif %}
                      <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                          <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Today's Tasks</a>
                          </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                          <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                            <!-- start recent activity -->
                            <ul class="messages">
                              {% if client_tasks %}
                                {% for client, tasks in client_tasks.items %}
                                <center>
                                  <h3> {{client.first_name|addstr_space:client.last_name}} </h3>
                                  {% if client.profile_picture %}
                                    <img src="{{client.profile_picture.url}}" style="width:230px;height:200px;">
                                  {% endif %}
                                  </br>
                                    <i class="fa fa-map-marker user-profile-icon"></i> {{client.address}}

                                    <i class="fa fa-mobile-phone user-profile-icon"></i> {{client.phone_number}}

                                    <!--<i class="fa fa-calendar user-profile-icon"></i>-->

                                    <i class="fa fa-male user-profile-icon"></i><i class="fa fa-female user-profile-icon"></i> {{client.gender}}
                                </center>
                                </br>
                                <hr>
                                  {% if tasks|length > 0 %}
                                    {% for task, task_comments, task_attachments, task_links, task_templates in tasks %}
                                    <li>


                                      <div class="message_date">
                                        <h5 class="date text-info">
                                          <span>{{task.start_time|convert_time_24_to_12|addstr_space:'-'}}</span>
                                          <span>{{task.end_time|convert_time_24_to_12}}</span>
                                        </h5>
                                      </div>
                                      <div class="message_wrapper">
                                        <h4 class="heading">{{task.activity_task}}</h4>
                                        <blockquote class="message">{{task.description}}</blockquote>
                                        <br />
                                        <ul>
                                        {% for attachment in task_attachments %}
                                            <li>
                                              <a href="{{attachment.attachment.url}}"><i class="fa fa-paperclip"></i>{{attachment.attachment|trunc_path}}</a>
                                              <span>Uploaded on {{attachment.created}}</span>
                                              <span>by {{attachment.user.first_name|addstr_space:attachment.user.last_name}}</span>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                        {% for link in task_links %}
                                            <p class="url">
                                              <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                              <a href="{{link.task_url}}"><i class="fa fa-external-link"></i>{{link.task_url}}</a>
                                              <span>Link added on {{link.created}}</span>
                                              <span>by {{link.user.first_name|addstr_space:link.user.last_name}}</span>
                                            </p>
                                        {% endfor %}
                                        <ul class="list-unstyled msg_list">
                                        {% for comment in task_comments %}
                                          <li>
                                            <a>
                                              <!--<span class="image">
                                                {% if comment.user.profile_picture %}
                                                  <img src="{{comment.user.profile_picture.url}}" />
                                                {% endif %}
                                              </span>-->
                                              <span>
                                                <span>{{comment.user.first_name|addstr_space:comment.user.last_name}}</span>
                                                <span>{{comment.created}}</span>
                                              </span>
                                              <span class="message">
                                                {{comment.comment}}
                                              </span>
                                            </a>
                                          </li>

                                        {% endfor %}
                                        </ul>
                                        <form enctype="multipart/form-data" method="post" role="form" action="{% url 'caregiver_dashboard' %}">
                                          {% csrf_token %}
                                          {% for template, entries in task_templates %}
                                            <h3>{{template.task_template.name}}<span><small> - {{template.task_template.description}}</small></span></h3>
                                            <div class="container">
                                            {% for entry in entries %}
                                              <div class="row">
                                                <div class="form-group">
                                                  <label class="control-label col-md-3 col-sm-3 col-xs-12">{{entry.task_template_entry.name}}</label>
                                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                                      {% if entry.entry_value %}
                                                        <input type="text" class="form-control col-md-7 col-xs-12" name="{{update_task_form.template_entries.html_name}}" value="{{entry.entry_value}}">
                                                      {% else %}
                                                        <input type="text" class="form-control col-md-7 col-xs-12" name="{{update_task_form.template_entries.html_name}}">
                                                      {% endif %}
                                                  </div>
                                                </div>
                                              </div>
                                              <br />
                                            {% endfor %}
                                            </div>
                                          {% endfor %}
                                          <p>
                                            <label>New Attachments</label>
                                                {{update_task_form.attachment.label_tag}}{{update_task_form.attachment}}
                                          </p>
                                          <p>
                                            <label>New Comment</label>
                                            <textarea class="form-control" style="height:55px;" id="task_comment" name="{{update_task_form.comment.html_name}}"></textarea>
                                          </p>
                                          <p>
                                            <label>Report Incident</label>
                                              <select name={{update_task_form.incident_id.html_name}}>
                                                <option value="" disabled selected>Select Incident</option>
                                                <option value=""></option>
                                                {% for incident in default_incidents %}
                                                  <option value="{{incident.id}}">{{incident.incident}}</option>
                                                {% endfor %}
                                              </select>
                                              <select name={{update_task_form.location_id.html_name}}>
                                                <option value="" disabled selected>Select Location</option>
                                                <option value=""></option>
                                                {% for location in incident_locations %}
                                                  <option value="{{location.id}}">{{location.location}}</option>
                                                {% endfor %}
                                              </select>
                                          </p>
                                          <div class="row">
                                            <div class="col-md-3">
                                              <label>
                                                {% if task.pending %}
                                                  <input type="radio" checked="checked" value="pending" name="{{update_task_form.status.html_name}}"> Pending
                                                  <span class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#808080"></span>
                                                {% else %}
                                                  <input type="radio" value="pending" name="{{update_task_form.status.html_name}}"> Pending
                                                {% endif %}
                                              </label>
                                            </div>
                                            <div class="col-md-3">
                                              <label>
                                                {% if task.complete %}
                                                  <input type="radio" checked="checked" value="complete" name="{{update_task_form.status.html_name}}"> Complete
                                                  <span class="fa fa-check" style="color:#3CB371"></span>
                                                {% else %}
                                                  <input type="radio" value="complete" name="{{update_task_form.status.html_name}}"> Complete
                                                {% endif %}
                                              </label>
                                            </div>
                                            <div class="col-md-3">
                                              <label>
                                                {% if task.in_progress %}
                                                  <input type="radio" checked="checked" value="in_progress" name="{{update_task_form.status.html_name}}"> In Progress
                                                  <span class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#baf2f5"></span>
                                                {% else %}
                                                  <input type="radio" value="in_progress" name="{{update_task_form.status.html_name}}"> In Progress
                                                {% endif %}
                                              </label>
                                            </div>
                                            <div class="col-md-3">
                                              <label>
                                                {% if task.cancelled %}
                                                  <input type="radio" checked="checked" value="cancelled" name="{{update_task_form.status.html_name}}"> Cancelled
                                                  <span class="fa fa-close" style="color:#ff0000"></span>
                                                {% else %}
                                                  <input type="radio" value="cancelled" name="{{update_task_form.status.html_name}}"> Cancelled
                                                {% endif %}
                                              </label>
                                            </div>
                                          </div>
                                          <div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                              <input type="hidden" value={{task.id}} name={{update_task_form.task_id.html_name}}>
                                              <input type="hidden" value={{client.id}} name={{update_task_form.client_id.html_name}}>
                                              <button type="submit" class="btn btn-success">Update Task</button>
                                            </div>
                                          </div>
                                        </form>
                                    </li>
                                    {% endfor %}
                                  {% endif %}
                                {% endfor %}
                              {% endif %}
                            </ul>
                            <!-- end recent activity -->

                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                            <!-- start user projects -->
                            <table class="data table table-striped no-margin">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Project Name</th>
                                  <!--<th>Client Company</th>-->
                                  <th class="hidden-phone">Hours Spent</th>
                                  <th>Progress</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>Bathroom Renovation</td>
                                  <td class="hidden-phone">18</td>
                                  <td class="vertical-align-mid">
                                    <div class="progress">
                                      <div class="progress-bar progress-bar-success" data-transitiongoal="35"></div>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>Living Room Renovation</td>
                                  <td class="hidden-phone">13</td>
                                  <td class="vertical-align-mid">
                                    <div class="progress">
                                      <div class="progress-bar progress-bar-danger" data-transitiongoal="15"></div>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>Cable Installation</td>
                                  <td class="hidden-phone">30</td>
                                  <td class="vertical-align-mid">
                                    <div class="progress">
                                      <div class="progress-bar progress-bar-success" data-transitiongoal="45"></div>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>Something</td>
                                  <td class="hidden-phone">28</td>
                                  <td class="vertical-align-mid">
                                    <div class="progress">
                                      <div class="progress-bar progress-bar-success" data-transitiongoal="75"></div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!-- end user projects -->

                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                            <p>Have not implemented yet</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Logout Modal -->
        <div id="LogoutModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel2">Logout</h4>
              </div>
              <div class="modal-body">
                There are remaining Pending or in progress tasks. Are you sure you want to log out?
                {% for client, tasks in client_tasks.items %}
                  <h3> {{client.first_name|addstr_space:client.last_name}} </h3>
                  {% for task, task_comments, task_attachments, task_links, task_templates in tasks %}
                    {% if task.pending or task.in_progress %}
                      <h5 class="heading">{{task.activity_task}}</h5>
                      <label class="message">{{task.description}}</label>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </div>
              <div class="modal-footer">
                <input type="hidden" id="task_id_edit" name="task_id">
                <button type="button" class="btn btn-danger antoclose2" data-dismiss="modal">Close</button>
                <a href="{% url 'caregiver_logout' %}" class="btn btn-success">Logout</a>
                <!--<button type="button" class="btn btn-success edit_calendar_submit">Save changes</button>-->
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
{% endblock %}
{% block footlibs %}

    <!-- morris.js -->
    <script src="{% static 'vendors/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'vendors/morris.js/morris.min.js' %}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{% static 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <!-- Select2 -->
    <script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>

{% endblock %}
{% block scripts %}

    <!-- Logout Modal -->
    <script type="text/javascript">
      function logout_modal_show(){
        $('#LogoutModal').modal()
      };
    </script>
    <!-- end logout modal -->

    <script>
      $(function() {
        Morris.Bar({
          element: 'graph_bar',
          data: [
            { "period": "Monday", "Hours worked": 6 },
            { "period": "Tuesday", "Hours worked": 7 },
            { "period": "Wednesday", "Hours worked": 5 },
            { "period": "Thursday", "Hours worked": 8 },
            { "period": "Friday", "Hours worked": 8 },
            { "period": "Saturday", "Hours worked": 5 },
            { "period": "Sunday", "Hours worked": 5 }
          ],
          xkey: 'period',
          hideHover: 'auto',
          barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
          ykeys: ['Hours worked', 'sorned'],
          labels: ['Hours worked', 'SORN'],
          xLabelAngle: 60,
          resize: true
        });

        $MENU_TOGGLE.on('click', function() {
          $(window).resize();
        });
      });
    </script>

    <!-- datepicker -->
    <script type="text/javascript">
      $(document).ready(function() {

        var cb = function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
          $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
          //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
        }

        var optionSet1 = {
          startDate: moment().subtract(29, 'days'),
          endDate: moment(),
          minDate: '01/01/2012',
          maxDate: '12/31/2015',
          dateLimit: {
            days: 60
          },
          showDropdowns: true,
          showWeekNumbers: true,
          timePicker: false,
          timePickerIncrement: 1,
          timePicker12Hour: true,
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          opens: 'left',
          buttonClasses: ['btn btn-default'],
          applyClass: 'btn-small btn-primary',
          cancelClass: 'btn-small',
          format: 'MM/DD/YYYY',
          separator: ' to ',
          locale: {
            applyLabel: 'Submit',
            cancelLabel: 'Clear',
            fromLabel: 'From',
            toLabel: 'To',
            customRangeLabel: 'Custom',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            firstDay: 1
          }
        };
        $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
        $('#reportrange').daterangepicker(optionSet1, cb);
        $('#reportrange').on('show.daterangepicker', function() {
          console.log("show event fired");
        });
        $('#reportrange').on('hide.daterangepicker', function() {
          console.log("hide event fired");
        });
        $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
          console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
        });
        $('#reportrange').on('cancel.daterangepicker', function(ev, picker) {
          console.log("cancel event fired");
        });
        $('#options1').click(function() {
          $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
        });
        $('#options2').click(function() {
          $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
        });
        $('#destroy').click(function() {
          $('#reportrange').data('daterangepicker').remove();
        });
      });
    </script>
    <!-- /datepicker -->
{% endblock %}
