{% extends "production/base.html" %}
{% block title %} Lead Follow Up {% endblock %} 
{% load mycareportal_app_extras%}
{% block headlibs %} 
{% load static %}
<!-- iCheck -->
<link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
<!-- bootstrap-wysiwyg -->
<link href="{% static 'vendors/google-code-prettify/bin/prettify.min.css' %}" rel="stylesheet">
<!-- Switchery -->
<link href="{% static 'vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">
<!-- starrr -->
<link href="{% static 'vendors/starrr/dist/starrr.css' %}" rel="stylesheet">
<!-- bootstrap-daterangepicker -->
<link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
<!-- Select2 -->
<link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}
{% block pagecontent %}
<style>
    .fc-time {
        display: none;
    }
</style>
<!-- page content -->
<div class="right_col" role="main">
    <div>
        <div class="row">

            <div class="page-title">
                <div class="col-md-12 col-sm-12 col-xs-12 " style="display: inline-flex;">
                    <div style="padding-left:10px">
                        <div class="btn btn-success" data-toggle="modal" data-target="#CalenderModalEdit">Send Email <i
                                class="fa fa-envelope"></i></div>
                    </div>

                    <div>
                        
                    </div>
                    <div  style="padding-left:10px">
                        <form   action="{% url 'edit_crm_lead' %}" >

                            <input type="hidden" name="lead_email" value="{{lead_details.lead_email_address}}">
                            <button  class="btn btn-success edit_calendar_submit"  >Edit</button>
                        </form>
                      
                    </div>
                    <div style="padding-left:10px">
                        <form  onSubmit="return confirm('Do you want to Convert?') "  action="{% url 'convert_lead_client' %}" >
                            <input type="hidden" name="lead_id" value="{{lead_details.id}}">
                            <button  class="btn btn-success edit_calendar_submit"  >Convert to Client</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-1 col-sm-3 col-xs-3">
                    
                </div>
                <div class="col-md-1 col-sm-3 col-xs-3">
                    
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        {{block.super}}
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Lead Info <small></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
                        </ul>
                        <div class="clearfix"></div>

                    </div>
                    <div class="x_content">
                        <div class="card"
                            style="box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26); padding:16px; margin-bottom:24px">
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <div class="card-text">
                                    <div class="row">
                                        <label class="control-label col-md-4 col-sm-7 col-xs-12">Lead Owner
                                        </label>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            {{current_company.company_name}}
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <label class="control-label col-md-4 col-sm-7 col-xs-12">Email</label>
                                        <div class="col-md-4 col-sm-6 col-xs-8">{{lead_details.lead_email_address}}</div>
                                    </div>

                                    <br>
                                    <div class="row">
                                        <label class="control-label col-md-4 col-sm-7 col-xs-12">Phone No
                                        </label>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            {{lead_details.lead_contact_number}}
                                        </div>
                                    </div>

                                    <br>
                                    <div class="row">
                                        <label class="control-label col-md-8 col-sm-7 col-xs-12">Secondary
                                                Phone No </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            {{lead_details.lead_secondary_phone_number}}
                                        </div>
                                    </div>

                                    <br>
                                    <div class="row">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Lead Status</label>
                                        <div class="row col-md-8">
                                            <div class="col-md-6 col-sm-3 col-xs-12 ">
                                                <div style="display: flex;">
                                                <input type="checkbox" id="myChecklead" onclick="updateCrm()"
                                                    value="" style="margin-right:10px" />
                                                    <label  id="sel" style="display:block"> {{lead_details.lead_status}}</label>
                                                
                                                    <div  id="selectlead" style="display:none">
                                                    <div style="display: flex;">
                                                        <input type="hidden" name="lead_detailsid" value="{{lead_details.id}}">
                                                        <select required class="select2_single form-control"
                                                            tabindex="-1" id="dropDownId">
                                                            <option value="" selected>
                                                                {{lead_details.lead_status}}</option>
                                                            <option value="Attempted To Contact">Attempted To
                                                                Contact</option>
                                                            <option value="Contact In Future">Contact In Future
                                                            </option>
                                                            <option value="Contacted">Contacted</option>
                                                            <option value="Junk Lead">Junk Lead</option>
                                                            <option value="Lost Lead">Lost Lead</option>
                                                            <option value="Not Contacted">Not Contacted</option>
                                                        </select> 
                                                        <span style="cursor: pointer;margin-left: 10px;"> <i
                                                            class="glyphicon glyphicon-ok btn btn-success "
                                                            onclick="update_lead_status()"></i> 
                                                        </span>
                                                    </div>
                                                    </div>
                                                </div>
                                                <!-- <div id="sel" style="display:block">
                                                    {{lead_details.lead_status}}
                                                </div> -->

                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">

                                                <div class="col-md-4 col-sm-4 col-xs-6" id="selectlead"
                                                    style="display:none">

                                                    <div>

                                                        


                                                    </div>
                                                    <div>
                                                        

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Notes <small>Add Notes</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
                    </ul>
                    <div class="clearfix"></div>

                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 class="card-title"></h5>
                            <p class="card-text"></p>


                            <div class="form-group">
                                <div class="row">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Add Notes <span class="required">*</span> </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <textarea type="text" id="lead_details_notes" rows="4" cols="50" class="form-control col-md-7 col-xs-12" name="lead_details_notes" required></textarea>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="row">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"> <span
                                            class="required">*</span> </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {% for note in crm_lead_notes %}
                                            <div class="row" style="border: 2px solid #dedede;
                                            background-color: #f1f1f1; border-radius: 5px;
                                            padding: 10px; margin: 5px 0;">
                                               <div class="col-md-8 col-xs-12"> {{ note.notes }} &nbsp; &nbsp;</div>
                                               <div class="col-md-4 col-xs-12" style="text-align: end;"> {{note.created | date:"F j, Y D"}}</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-6">
                                    <input type="hidden" name='{{client_invoice_form.client_email.html_name}}'
                                        value='{{client_email}}'>
                                    <button type="submit" value="{{lead_details.id}}" class="btn btn-success"
                                        onclick="saveNotes(this.value)">Save</button>
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Lead detail<small>Lead Information</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
                    </ul>
                    <div class="clearfix"></div>

                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card"
                                style="box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26); padding:16px; margin-bottom:24px">
                                <div class="card-body">
                                    <h5 class="card-title"></h5>
                                    <div class="card-text">


                                        <div class="row">
                                            <label class="control-label col-md-4 col-sm-7 col-xs-12">Lead Owner
                                            </label>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                {{current_company.company_name}} 
                                            </div>
                                        </div>

                                        <br>

                                        <div class="row">
                                            <label class="control-label col-md-4 col-sm-7 col-xs-12">Email </label>
                                            <div class="col-md-4 col-sm-6 col-xs-8">{{lead_details.lead_source}}</div>
                                        </div>

                                        <br>
                                        <div class="row">
                                            <label class="control-label col-md-4 col-sm-7 col-xs-12">Lead Name
                                            </label>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                {{lead_details.lead_first_name |addstr_space:lead_details.lead_last_name}}
                                               
                                            </div>
                                             
                                            
                                        </div>
                                        <br>
                                        <div class="row">
                                            <label
                                                    class="control-label col-md-4 col-sm-7 col-xs-12">Phone No
                                                </label>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                {{lead_details.lead_contact_number}}</div>
                                        </div>

                                        <br>
                                        <div class="row">
                                            <label
                                                    class="control-label col-md-4 col-sm-7 col-xs-12">Secondary
                                                    Phone No </label>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                {{lead_details.lead_secondary_phone_number}}</div>
                                        </div>

                                        <br>

                                        <div class="row">
                                            <label
                                                    class="control-label col-md-4 col-sm-7 col-xs-12">Date of Birth
                                                   </label>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                {{lead_details.lead_date_of_birth | date:"d M Y"}}</div>
                                        </div>

                                        <br>
                                        <div class="row">
                                            <label
                                                    class="control-label col-md-4 col-sm-7 col-xs-12">Email
                                                </label>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                {{lead_details.lead_email_address}}
                                            </div>
                                        </div>
                                        <br>

                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-8">

                                                <label class="control-label col-md-8 col-sm-7 col-xs-12">
                                                    <h4><strong>Address Information </strong></h4>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-8">
                                                {{lead_details.lead_address}}

                                                <label class="control-label col-md-8 col-sm-7 col-xs-12">Lead Address :
                                                </label>
                                            </div>



                                            <div class="col-md-6 col-sm-6 col-xs-8">
                                                {{lead_details.lead_city}}

                                                <label class="control-label col-md-8 col-sm-7 col-xs-12">Lead City :
                                                </label>
                                            </div>

                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-8">
                                                {{lead_details.lead_state}}

                                                <label class="control-label col-md-8 col-sm-7 col-xs-12">Lead State :
                                                </label>
                                            </div>


                                            <div>
                                                <div class="col-md-6 col-sm-6 col-xs-8">
                                                    {{lead_details.lead_zip_code}}

                                                    <label class="control-label col-md-8 col-sm-7 col-xs-12">Lead Zip
                                                        Code : </label>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-8">

                                                <label class="control-label col-md-8 col-sm-7 col-xs-12">
                                                    <h5>Description Information </h5>
                                                </label>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-8">
                                                {{lead_details.description}}

                                                <label class="control-label col-md-8 col-sm-7 col-xs-12">Lead
                                                    Description : </label>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


</div>


<div id="CalenderModalEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel2">Send Email</h4>
            </div>

            <div class="modal-body">


                <div class="form-group">
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">To
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" required="required" class="form-control col-md-7 col-xs-12"
                                    name="{{shedule_shifts_free_caregiver_form.subject.html_name}}">
                            </div>
                        </div>
                    </div>

                    <div></div>
                    <div class="row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Subject
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" required="required" class="form-control col-md-7 col-xs-12"
                                name="{{shedule_shifts_free_caregiver_form.subject.html_name}}">
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Content <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {% if not crm_lead_form.notes.value is None %}
                            <textarea type="text" rows="4" cols="50" class="form-control col-md-7 col-xs-12"
                                name={{crm_lead_form.notes.html_name}}
                                value={{crm_lead_form.notes.value}}>{{crm_lead_form.notes.value}}</textarea> {% else %}
                            <textarea type="text" rows="4" cols="50" class="form-control col-md-7 col-xs-12"
                                name={{crm_lead_form.notes.html_name}}></textarea> {% endif %}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Schedule Time For Mail
                        </label>
                        <div>

                            <input type="checkbox" id="myCheck" onclick="myFunction()">
                        </div>
                    </div>
                    <div id="text" style="display:none">

                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Schedule </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {% if not add_client_form.date_of_birth.value is None %}
                                    <input type="text" id="birthdays" readonly="true"
                                        class="date-picker form-control col-md-7 col-xs-12"
                                        name={{add_client_form.date_of_birth.html_name}}
                                        value={{add_client_form.date_of_birth.value}}> {% else %}
                                    <input type="text" id="birthdays" readonly="true"
                                        class="date-picker form-control col-md-7 col-xs-12"
                                        name={{add_client_form.date_of_birth.html_name}}> {% endif %}
                                </div>
                            </div>

                        </div>




                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"> Time
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <select name="{{assign_task_form.start_hour.html_name}}">
                                        <option selected disabled>Hour</option>
                                        <option value="00">12 AM</option>
                                        <option value="01">1 AM</option>
                                        <option value="02">2 AM</option>
                                        <option value="03">3 AM</option>
                                        <option value="04">4 AM</option>
                                        <option value="05">5 AM</option>
                                        <option value="06">6 AM</option>
                                        <option value="07">7 AM</option>
                                        <option value="08">8 AM</option>
                                        <option value="09">9 AM</option>
                                        <option value="10">10 AM</option>
                                        <option value="11">11 AM</option>
                                        <option value="12">12 PM</option>
                                        <option value="13">1 PM</option>
                                        <option value="14">2 PM</option>
                                        <option value="15">3 PM</option>
                                        <option value="16">4 PM</option>
                                        <option value="17">5 PM</option>
                                        <option value="18">6 PM</option>
                                        <option value="19">7 PM</option>
                                        <option value="20">8 PM</option>
                                        <option value="21">9 PM</option>
                                        <option value="22">10 PM</option>
                                        <option value="23">11 PM</option>
                                    </select>
                                    <select name="{{assign_task_form.start_minute.html_name}}">
                                        <option selected disabled>Minute</option>
                                        <option value="00">00</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                        <option value="50">50</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="submit" class="btn btn-success">Send Email</a>
            </div>




        </div>
    </div>

</div>
{% endblock %} {% block footlibs %}
<!-- bootstrap-daterangepicker -->
<script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<!-- Dropzone.js -->
<script src="{% static 'vendors/dropzone/dist/min/dropzone.min.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>
<!-- jquery.inputmask -->
<script src="{% static 'vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>

{% endblock %} {% block scripts %}


<script>
    $(document).ready(function () {
        $('#birthday').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            calender_style: "picker_4"
        }, function (start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });
        $('#birthday').val("");
    });
</script>



<script>
    function myFunction() {
        // Get the checkbox
        var checkBox = document.getElementById("myCheck");
        // Get the output text
        var text = document.getElementById("text");

        // If the checkbox is checked, display the output text
        if (checkBox.checked == true) {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }
</script>

<script>
    $(document).ready(function () {
        $('#birthdays').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            calender_style: "picker_4"
        }, function (start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });
        
    });
</script>

<script>
    function saveNotes(x) {
        console.log("vvvvvv", x)

        if( $("#lead_details_notes").val()){
        $.ajax({

            url: "{% url 'save_crm_notes' %}",
            type: "GET",

            data: {

                "lead_details_id": x,
                "lead_details_notes": $("#lead_details_notes").val()
                // $("input[name=lead_details_notes]").val()
            },
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                location.reload();
            }
        });
    }
    else{
       
       $('#lead_details_notes').attr('required', 'required');
    }
    }
</script>

<script>
    function updateCrm() {
        // Get the checkbox
        var checkBox = document.getElementById("myChecklead");

        // Get the output text
        var selectlead = document.getElementById("selectlead");
        var sel = document.getElementById("sel");
        if (checkBox.checked == true) {
            selectlead.style.display = "block";
            sel.style.display = "none"
        } else {
            selectlead.style.display = "none";
            sel.style.display = "block"
        }
    }
</script>

<script>
    function update_lead_status() {

        if($('#dropDownId :selected').val()){

       

        $.ajax({
            url: "{% url 'update_lead_status' %}",
            type: "GET",
            data: {
                "lead_details_id": $("input[name=lead_detailsid]").val(),
                "lead_status": $('#dropDownId :selected').val()
              
            },
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                    location.reload(); 
            },
 
        });
    }
}
</script>



{% endblock %}