{% extends "production/base.html" %}
{% block title %} Edit Move Inventory {% endblock %}
{% block headlibs %}
{% load static %}
<!-- iCheck -->
<link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
<!-- bootstrap-wysiwyg -->
<link href="{% static 'vendors/google-code-prettify/bin/prettify.min.css' %}" rel="stylesheet">
<!-- Select2 -->
<link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}
{% block pagecontent %}
    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Edit Move Inventory</h3>
          </div>
        </div>
        <div class="clearfix"></div>

        <!--Patient Personal Details form-->
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Inventory Item<small>edit inventory item</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              {{block.super}}
              <div class="x_content"> <br />

                <form method='post' action="{% url 'edit_move_inventory' %}" class="form-horizontal form-label-left">
                  {% csrf_token %}
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Item Name<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not edit_inventory_form.item.value is None %}
                        <input type="text" class="form-control" name="{{edit_inventory_form.item.html_name}}" value="{{edit_inventory_form.item.value}}" required="" />
                      {% else %}
                        <input type="text" class="form-control" name="{{edit_inventory_form.item.html_name}}" required="" />
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Item Quantity</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not edit_inventory_form.item_quantity.value is None %}
                        <input type="text" class="form-control" name = "{{edit_inventory_form.item_quantity.html_name}}" value = "{{edit_inventory_form.item_quantity.value}}" />
                      {% else %}
                        <input type="text" class="form-control" name = "{{edit_inventory_form.item_quantity.html_name}}" />
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Price per Unit<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not edit_inventory_form.item_price.value is None %}
                        <input type="text" class="form-control" name="{{edit_inventory_form.item_price.html_name}}" value="{{edit_inventory_form.item_price.value}}" required="" />
                      {% else %}
                        <input type="text" class="form-control" name="{{edit_inventory_form.item_price.html_name}}" required="" />
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Destination</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not edit_inventory_form.item_destination.value is None %}
                      <select class="form-control" name = "{{edit_inventory_form.item_destination.html_name}}" value = "{{edit_inventory_form.item_destination.value}}">
                        <option selected=selected>{{edit_inventory_form.item_destination.value}}</option>
                        <option value="Home">Home</option>
                        <option value="Store">Store</option>
                        <option value="Charity">Charity</option>
                        <option value="Other">Other</option>
                      </select>
                      {% else %}
                      <select class="form-control" name = "{{edit_inventory_form.item_destination.html_name}}" value = "{{edit_inventory_form.item_destination.value}}">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="Home">Home</option>
                        <option value="Store">Store</option>
                        <option value="Charity">Charity</option>
                        <option value="Other">Other</option>
                      </select>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Item sale price<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not edit_inventory_form.item_sale_price.value is None %}
                        <input type="text" class="form-control" name = "{{edit_inventory_form.item_sale_price.html_name}}" value = "{{edit_inventory_form.item_sale_price.value}}" required="" />
                      {% else %}
                        <input type="text" class="form-control" name = "{{edit_inventory_form.item_sale_price.html_name}}" required="" />
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Sold</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if inventory_item.item_sold is True %}
                        <input type="checkbox" class="form-control" name = "{{edit_inventory_form.item_sold.html_name}}" checked/>
                      {% else %}
                        <input type="checkbox" class="form-control" name = "{{edit_inventory_form.item_sold.html_name}}"/>
                      {% endif %}
                    </div>
                  </div>
                  <input type="hidden" name={{edit_inventory_form.inventory_uid.html_name}} value="{{inventory_item.uid}}">
                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <button type="submit" class="btn btn-success">Submit</button>
                      <a class="btn btn-warning" href="{% url 'move_inventory' task_id=inventory_item.move_manage_task.uid %}">Back</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->
    {% endblock %}

{% block footlibs %}
<!-- Select2 -->
<script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>
{% endblock %}

{% block scripts %}


{% endblock %}
