{% extends "production/base.html" %}
{% block title %} Edit Company {% endblock %}
{% block headlibs %}
{% load static %}
<!-- iCheck -->
<link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
<!-- bootstrap-wysiwyg -->
<link href="{% static 'vendors/google-code-prettify/bin/prettify.min.css' %}" rel="stylesheet">
<!-- Select2 -->
<link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}
{% block pagecontent %}
    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Edit Company Details</h3>
          </div>
        </div>
        <div class="clearfix"></div>

        <!--Patient Personal Details form-->
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Company Details<small>edit company details</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              {{block.super}}
              <div class="x_content"> <br />

                <form enctype="multipart/form-data" method='post' onsubmit="return validateForm()" action="{% url 'edit_company' %}" class="form-horizontal form-label-left">
                  {% csrf_token %}
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Company Name <span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not company_edit_form.company_name.value is None %}
                        <input type="text" class="form-control" name="{{company_edit_form.company_name.html_name}}" value="{{company_edit_form.company_name.value}}" required="" />
                      {% else %}
                        <input type="text" class="form-control" name="{{company_edit_form.company_name.html_name}}" required="" />
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Account Number</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not company_edit_form.account_number.value is None %}
                        <input type="text" class="form-control" name = "{{company_edit_form.account_number.html_name}}" value = "{{company_edit_form.account_number.value}}" />
                      {% else %}
                        <input type="text" class="form-control" name = "{{company_edit_form.account_number.html_name}}" />
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Contact Number <span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not company_edit_form.contact_number.value is None %}
                        <input type="text" class="form-control" name="{{company_edit_form.contact_number.html_name}}" value="{{company_edit_form.contact_number.value}}" required="" />
                      {% else %}
                        <input type="text" class="form-control" name="{{company_edit_form.contact_number.html_name}}" required="" />
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Address<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not company_edit_form.address.value is None %}
                        <input type="text" class="form-control" name = "{{company_edit_form.address.html_name}}" value = "{{company_edit_form.address.value}}" required="" />
                      {% else %}
                        <input type="text" class="form-control" name = "{{company_edit_form.address.html_name}}" required="" />
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">City<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    {% if not company_edit_form.city.value is None %}
                      <input type="text" class="form-control" name = "{{company_edit_form.city.html_name}}" value = "{{company_edit_form.city.value}}" required="" />
                    {% else %}
                      <input type="text" class="form-control" name = "{{company_edit_form.city.html_name}}" required="" />
                    {% endif %}
                  </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">State<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12" onchange="update_state()">
                      {% if not company_edit_form.state.value is None %}
                      <select required class="select2_single form-control" tabindex="-1" id="dropDownId" name = "{{company_edit_form.state.html_name}}" value = "{{company_edit_form.state.value}}">
                            <option selected=selected>{{company_edit_form.state.value}}</option>
                            <option value="Other">Other</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                            <option value="Andra Pradesh">Andra Pradesh</option>
                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                            <option value="Assam">Asssam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Madya Pradesh">Madya Pradesh</option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>
                            <option valule="Orissa">Orissa</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option vaule="Tamil Nadu">Tamil Nadu</option>
                            <option value="Telagana">Telagana</option>
                            <option value="Tripura">Tripura</option>
                            <option value="Uttaranchal">Uttaranchal</option>
                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                            <option value="West Bengal">West Bengal</option>
                      </select>
                      {% else %}
                      <select required class="select2_single form-control" tabindex="-1" id="dropDownId" name = "{{company_edit_form.state.html_name}}" value = "{{company_edit_form.state.value}}">
                            <option value="" disabled selected>Select State</option>
                            <option value="Other">Other</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                            <option value="Andra Pradesh">Andra Pradesh</option>
                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                            <option value="Assam">Asssam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Madya Pradesh">Madya Pradesh</option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>
                            <option valule="Orissa">Orissa</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option vaule="Tamil Nadu">Tamil Nadu</option>
                            <option value="Telagana">Telagana</option>
                            <option value="Tripura">Tripura</option>
                            <option value="Uttaranchal">Uttaranchal</option>
                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                            <option value="West Bengal">West Bengal</option>
                      </select>
                      {% endif %}
                    </div>
                  </div>

                  <div class="form-group">
                    <div  id="selectlead" style="display:none"> 
                     <label class="control-label col-md-3 col-sm-3 col-xs-12">Other State name<span class="required">*</span> </label>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                       {% if not company_edit_form.other_state_name.value is None %}
                       <input type="text" id="otherstatevalue"  class="form-control col-md-7 col-xs-12"  name={{company_edit_form.other_state_name.html_name}} value={{company_edit_form.other_state_name.value}}>
                       {% else %}
                       <input type="text" id="otherstatevalue"  class="form-control col-md-7 col-xs-12"  name={{company_edit_form.other_state_name.html_name}}>
                       {% endif %}
                     </div>
                   </div>
                   </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Zip Code</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not company_edit_form.zip_code.value is None %}
                        <input type="text" class="form-control" name = "{{company_edit_form.zip_code.html_name}}" value = "{{company_edit_form.zip_code.value}}" required="" />
                      {% else %}
                        <input type="text" class="form-control" name = "{{company_edit_form.zip_code.html_name}}" required="" />
                      {% endif %}
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Tax Rate</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not company_edit_form.tax_rate.value is None %}
                        <input type="text" class="form-control" name = "{{company_edit_form.tax_rate.html_name}}" value ="{{company_edit_form.tax_rate.value}}" />
                        
                      {% else %}
                        <input type="text" class="form-control" name = "{{company_edit_form.tax_rate.html_name}}" />
                      {% endif %}
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Attorney Email</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not company_edit_form.attorney_email.value is None %}
                        <input type="text" class="form-control" name = "{{company_edit_form.attorney_email.html_name}}" value="{{company_edit_form.attorney_email.value}}" />
                      {% else %}
                        <input type="text" class="form-control" name = "{{company_edit_form.attorney_email.html_name}}" />
                      {% endif %}
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Time Zone<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not company_edit_form.time_zone.value is None %}
                        <select required class="select2_time_zone form-control" tabindex="-1" name={{company_edit_form.time_zone.html_name}} value={{company_edit_form.time_zone.value}}>
                          <option selected=selected>{{company_edit_form.time_zone.value}}</option>
                          {% for timezone in all_timezones %}
                            <option value='{{timezone}}'>{{timezone}}</option>
                          {% endfor %}
                        </select>
                      {% else %}
                      <select required class="select2_time_zone form-control" tabindex="-1" name={{company_edit_form.time_zone.html_name}}>
                        <option></option>
                        {% for timezone in all_timezones %}
                          <option value='{{timezone}}'>{{timezone}}</option>
                        {% endfor %}
                      </select>
                    {% endif %}
                    </div>
                  </div>

                  {% if is_parent_flag  %}
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Is Parent Company</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if company_edit_form.is_parent.value == True %}
                      <input type="checkbox" class="form-control" checked="checked" name ="{{company_edit_form.is_parent.html_name}}"/>
                      {% else %}
                      <input type="checkbox" class="form-control" name ="{{company_edit_form.is_parent.html_name}}"/>
                      {% endif %}
                    </div>
                  </div>
                  {% endif %}
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Default Dashboard</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                        {% if company_edit_form.default_dashboard.value == 'ADMIN' %}
                          <input type="radio" name="{{company_edit_form.default_dashboard.html_name}}" value="ADMIN" checked="checked" required="required">
                        {% else %}
                          <input type="radio" name="{{company_edit_form.default_dashboard.html_name}}" value="ADMIN" required="required">
                        {% endif %}
                        &nbsp; Admin Dashboard &nbsp; </label>
                      <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                        {% if company_edit_form.default_dashboard.value == 'CAREGIVER' %}
                          <input type="radio" name="{{company_edit_form.default_dashboard.html_name}}" value="CAREGIVER" checked="checked" required="required">
                        {% else %}
                          <input type="radio" name="{{company_edit_form.default_dashboard.html_name}}" value="CAREGIVER" required="required">
                        {% endif %}
                        Caregiver Schedule Dashboard </label>
                      <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                        {% if company_edit_form.default_dashboard.value == 'CLIENT' %}
                          <input type="radio" name="{{company_edit_form.default_dashboard.html_name}}" value="CLIENT" checked="checked" required="required">
                        {% else %}
                          <input type="radio" name="{{company_edit_form.default_dashboard.html_name}}" value="CLIENT" required="required">
                        {% endif %}
                        Client Task Dashboard </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Mileage Rate (in cent)</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                     


                      {% if not company_edit_form.mileage_rate.value is None %}
                      <input type="text" class="form-control" name = "{{company_edit_form.mileage_rate.html_name}}" value ="{{company_edit_form.mileage_rate.value}}" />
                      
                    {% else %}
                      <input type="text" class="form-control" name = "{{company_edit_form.mileage_rate.html_name}}" />
                    {% endif %}
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Company Logo</label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{company_edit_form.logo.label_tag}}{{company_edit_form.logo}}
                      </div>
                  </div>

                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->
    {% endblock %}

{% block footlibs %}
<!-- Select2 -->
<script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>
{% endblock %}

{% block scripts %}
<!-- Select2 -->
<script>
      $(document).ready(function() {
        $(".select2_single").select2({
          placeholder: "Select a state",
          allowClear: true
        });
        $(".select2_time_zone").select2({
          placeholder: "Select a Time Zone",
          allowClear: true
        });
      });
    </script>
<!-- /Select2 -->
<script>
  function update_state() {
      // Get the checkbox
      values = $('#dropDownId :selected').val()
      console.log("valuesvalues",values)
      // Get the output text
      var selectlead = document.getElementById("selectlead");
      
      if (values === "Other") {
          selectlead.style.display = "block";
      
      } else {
          selectlead.style.display = "none";
      
      }
  }
</script>


<script>
  function validateForm() {

    values = $('#dropDownId :selected').val()
      var selectlead = document.getElementById("selectlead");
      if (values === "Other") {
        var x = $('#otherstatevalue').val()
      if (x == "") {
       alert("Other State Name must be filled out");
       return false;
      }
      }
      else {
        return true;
      }
}
</script>

<script>
  $(document).ready(function() {

   values = $('#dropDownId :selected').val()
     console.log("ssss ---",values)
     // Get the output text
     var selectlead = document.getElementById("selectlead");
     
     if (values === "Other") {
       selectlead.style.display = "block";

     }
     else
     {
       selectlead.style.display = "none";

     }
  })
</script>
{% endblock %}
