{% extends "production/base.html" %}
{% block title %} Edit Caregiver {% endblock %}
{% load mycareportal_app_extras%}
{% block headlibs %}
{% load static %}
<!-- iCheck -->
<link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
<!-- bootstrap-wysiwyg -->
<link href="{% static 'vendors/google-code-prettify/bin/prettify.min.css' %}" rel="stylesheet">
<!-- Select2 -->
<link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">
<!-- Switchery -->
<link href="{% static 'vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">
<!-- starrr -->
<link href="{% static 'vendors/starrr/dist/starrr.css' %}" rel="stylesheet">
<!-- bootstrap-daterangepicker -->
<link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
<!-- Select2 -->
<link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}
{% block pagecontent %}
    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Edit Caregiver Details </h3>
          </div>
        </div>
        <div class="clearfix"></div>
        {{block.super}}
        <!--Patient Personal Details form-->
        
        <div class="row">
          <div class="">
            <div class="x_panel">
              <div class="x_title">
                <h2>Caregiver Details<small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content"> <br />
                {% if edit_caregiver_form.errors %}
                  {% for field in edit_caregiver_form %}
                    {% for error in field.errors %}
                      <div class="alert alert-danger">
                        <strong>{{error}}</strong>
                      </div>
                    {% endfor %}
                  {% endfor %}
                  {% for error in edit_caregiver_form.non_field_errors %}
                    <div class="alert alert-danger">
                        <string>{{error}}</strong>
                    </div>
                  {% endfor %}
                {% endif %}
                <form enctype="multipart/form-data" method='post'  action="{% url 'edit_caregiver' %}" class="form-horizontal form-label-left">
                  {% csrf_token %}
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not edit_caregiver_form.first_name.value is None %}
                        <input type="text" required="required" class="form-control col-md-7 col-xs-12" name="{{edit_caregiver_form.first_name.html_name}}" value="{{edit_caregiver_form.first_name.value}}">
                      {% else %}
                        <input type="text" required="required" class="form-control col-md-7 col-xs-12" name="{{edit_caregiver_form.first_name.html_name}}">
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not edit_caregiver_form.last_name.value is None %}
                        <input type="text" required="required" class="form-control col-md-7 col-xs-12" name="{{edit_caregiver_form.last_name.html_name}}" value="{{edit_caregiver_form.last_name.value}}">
                      {% else %}
                        <input type="text" required="required" class="form-control col-md-7 col-xs-12" name="{{edit_caregiver_form.last_name.html_name}}">
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Middle Name / Initial</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not edit_caregiver_form.middle_name.value is None %}
                        <input type="text" class="form-control col-md-7 col-xs-12" name="{{edit_caregiver_form.middle_name.html_name}}" value="{{edit_caregiver_form.middle_name.value}}">
                      {% else %}
                        <input type="text" class="form-control col-md-7 col-xs-12" name="{{edit_caregiver_form.middle_name.html_name}}">
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div>
                        <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                          {% if edit_caregiver_form.gender.value == 'M' %}
                            <input type="radio" name="{{edit_caregiver_form.gender.html_name}}" value="M" checked="checked" required="required">
                          {% else %}
                            <input type="radio" name="{{edit_caregiver_form.gender.html_name}}" value="M" required="required">
                          {% endif %}
                          &nbsp; Male &nbsp; </label>
                        <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                          {% if edit_caregiver_form.gender.value == 'F' %}
                            <input type="radio" name="{{edit_caregiver_form.gender.html_name}}" value="F" checked="checked" required="required">
                          {% else %}
                            <input type="radio" name="{{edit_caregiver_form.gender.html_name}}" value="F" required="required">
                          {% endif %}
                          Female </label>
                      </div>
                    </div>
                  </div>
                  <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">Address <span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not edit_caregiver_form.address.value is None %}
                        <input type="text" class="form-control col-md-7 col-xs-12" required="required" name="{{edit_caregiver_form.address.html_name}}" value="{{edit_caregiver_form.address.value}}"></textarea>
                      {% else %}
                        <input type="text" class="form-control col-md-7 col-xs-12" required="required" name="{{edit_caregiver_form.address.html_name}}"></textarea>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">City<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not edit_caregiver_form.city.value is None %}
                        <input type="text" class="form-control col-md-7 col-xs-12" required="required" name="{{edit_caregiver_form.city.html_name}}" value="{{edit_caregiver_form.city.value}}">
                      {% else %}
                        <input type="text" class="form-control col-md-7 col-xs-12" required="required" name="{{edit_caregiver_form.city.html_name}}">
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">State<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12" onchange="update_state()">
                      {% if not edit_caregiver_form.state.value is None %}
                      <select required class="select2_single form-control" tabindex="-1" id="dropDownId" name={{edit_caregiver_form.state.html_name}} value={{edit_caregiver_form.state.value}}>
                            <option selected=selected>{{edit_caregiver_form.state.value}}</option>
                            {% for statename in all_state %}
                            <option value='{{statename.state_name}}'>{{statename.state_name}}</option>
                            {% endfor %}
                      </select>
                      {% else %}
                      <select required class="select2_single form-control" tabindex="-1" id="dropDownId" name={{edit_caregiver_form.state.html_name}}>
                            <option value="" disabled selected>Select State</option>
                            {% for statename in all_state %}
                            <option value='{{statename.state_name}}'>{{statename.state_name}}</option>
                            {% endfor %}
                      </select>
                      {% endif %}
                    </div>
                    <div class="dropdown-state-containerss">
                    </div>
                  </div>

                  <div class="form-group">
                    <div  id="selectlead" style="display:none"> 
                     <label class="control-label col-md-3 col-sm-3 col-xs-12">Other State name<span class="required">*</span> </label>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                       {% if not edit_caregiver_form.other_state_name.value is None %}
                       <input type="text" id="otherstatevalue"  class="form-control col-md-7 col-xs-12"  name={{edit_caregiver_form.other_state_name.html_name}} value={{edit_caregiver_form.other_state_name.value}}>
                       {% else %}
                       <input type="text" id="otherstatevalue"  class="form-control col-md-7 col-xs-12"  name={{edit_caregiver_form.other_state_name.html_name}}>
                       {% endif %}
                     </div>
                   </div>
                   </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">ZIP code<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not edit_caregiver_form.zip_code.value is None %}
                        <input type="text" class="form-control col-md-7 col-xs-12" required="required" name={{edit_caregiver_form.zip_code.html_name}} value={{edit_caregiver_form.zip_code.value}}>
                      {% else %}
                        <input type="text" class="form-control col-md-7 col-xs-12" required="required" name={{edit_caregiver_form.zip_code.html_name}}>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Birth <span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not edit_caregiver_form.date_of_birth.value is None %}
                        <input type="text" id="birthday" readonly="true" class="date-picker form-control col-md-7 col-xs-12" required="required" name={{edit_caregiver_form.date_of_birth.html_name}} value={{edit_caregiver_form.date_of_birth.value}}>
                      {% else %}
                        <input type="text" id="birthday" readonly="true" class="date-picker form-control col-md-7 col-xs-12" required="required" name={{edit_caregiver_form.date_of_birth.html_name}}>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Phone Number <span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not edit_caregiver_form.phone_number.value is None %}
                        <input type="text" class="form-control col-md-7 col-xs-12" data-inputmask="'mask': '(999)-999-9999'" required="required" name={{edit_caregiver_form.phone_number.html_name}} value={{edit_caregiver_form.phone_number.value}}>
                      {% else %}
                        <input type="text" class="form-control col-md-7 col-xs-12" data-inputmask="'mask': '(999)-999-9999'" required="required" name={{edit_caregiver_form.phone_number.html_name}}>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Secondary Phone Number</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not edit_caregiver_form.secondary_phone_number.value is None %}
                        <input type="text" class="form-control col-md-7 col-xs-12" data-inputmask="'mask': '(999)-999-9999'" name={{edit_caregiver_form.secondary_phone_number.html_name}} value={{edit_caregiver_form.secondary_phone_number.value}}>
                      {% else %}
                        <input type="text" class="form-control col-md-7 col-xs-12" data-inputmask="'mask': '(999)-999-9999'" name={{edit_caregiver_form.secondary_phone_number.html_name}}>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Email Address<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not edit_caregiver_form.email.value is None %}
                        <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="form-control col-md-7 col-xs-12" required="required" name={{edit_caregiver_form.email.html_name}} value={{edit_caregiver_form.email.value}}>
                      {% else %}
                        <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="form-control col-md-7 col-xs-12" required="required" name={{edit_caregiver_form.email.html_name}}>
                      {% endif %}
                    </div>
                  </div>
                  <!--<div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Password<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="password" class="form-control" name = "{{edit_caregiver_form.password.html_name}}" required="" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Repeat Password<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="password" class="form-control" name = "{{edit_caregiver_form.confirm_password.html_name}}" required="" />
                    </div>
                  </div>-->
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Hourly Rate</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not edit_caregiver_form.hourly_rate.value is None %}
                        <input type="text" class="form-control col-md-7 col-xs-12" required="required" name={{edit_caregiver_form.hourly_rate.html_name}} value={{edit_caregiver_form.hourly_rate.value}}>
                      {% else %}
                        <input type="text" class="form-control col-md-7 col-xs-12" required="required" name={{edit_caregiver_form.hourly_rate.html_name}}>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">SSN</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not edit_caregiver_form.ssn.value is None %}
                        <input type="text" class="form-control col-md-7 col-xs-12" data-inputmask="'mask': '999-99-9999'" name={{edit_caregiver_form.ssn.html_name}} value={{edit_caregiver_form.ssn.value}}>
                      {% else %}
                        <input type="text" class="form-control col-md-7 col-xs-12" data-inputmask="'mask': '999-99-9999'" name={{edit_caregiver_form.ssn.html_name}}>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Referral Source<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not edit_caregiver_form.referrer.value is None %}
                        <input type="text" class="form-control col-md-7 col-xs-12" name={{edit_caregiver_form.referrer.html_name}} value="{{edit_caregiver_form.referrer.value}}">
                      {% else %}
                        <input type="text" class="form-control col-md-7 col-xs-12" name={{edit_caregiver_form.referrer.html_name}}>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Profile Picture<span class="required">*</span> </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {{edit_caregiver_form.profile_picture.label_tag}}{{edit_caregiver_form.profile_picture}}
                      </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Attachments</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {{edit_caregiver_form.attachment.label_tag}}{{edit_caregiver_form.attachment}}
                      <!-- <ul>
                      {% for attachment in caregiver_attachments %}
                          <li>
                            <a href="{{attachment.attachment.url}}"  target="_blank"><i class="fa fa-paperclip"></i>{{attachment.attachment|trunc_path}}</a>
                            <span>Uploaded on {{attachment.created}}</span>
                            <span>by {{attachment.user.first_name|addstr_space:attachment.user.last_name}}</span>
                          </li>
                      {% endfor %}
                      </ul> -->
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                      <ul>
                        <input type="hidden" name="caregiver_id" value="{{caregivers.id}}">
                        
                        {% for attachment in caregiver_attachments %}
                            <li>
                              <a href="{{attachment.attachment.url}}"  target="_blank"><i class="fa fa-paperclip"></i>{{attachment.attachment|trunc_path}}</a>
                              <span>Uploaded on {{attachment.created}}</span>
                              
                              <span>by {{attachment.user.first_name|addstr_space:attachment.user.last_name}}</span>
                              <span> 
                                
                                  <button type="button" style="background: none; border: 0; color: red;"  value="{{attachment.id}}" onClick="valueclick(this.value);"><i  class="glyphicon glyphicon-remove"></i> </button> 
                                
                               </span>  
                            </li>
                        {% endfor %}
                        </ul>
                   
                    
                    </div>
                   
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Additional Notes</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not edit_caregiver_form.notes.value is None %}
                        <textarea type="text" class="form-control col-md-7 col-xs-12" name={{edit_caregiver_form.notes.html_name}} value={{edit_caregiver_form.notes.value}}>{{edit_caregiver_form.notes.value}}</textarea>
                      {% else %}
                        <textarea type="text" class="form-control col-md-7 col-xs-12" name={{edit_caregiver_form.notes.html_name}}></textarea>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Rating<span class="required">*</span> </label>
                    <div class="starrr stars"></div>
                    <span class="stars-count">{{edit_caregiver_form.rating.value}}</span> star(s)
                    <input type="hidden" id="edit_caregiver_form_rating" name={{edit_caregiver_form.rating.html_name}} value={{edit_caregiver_form.rating.value}}>
                  </div>

                  <!--
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Location</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <select class="select2_multiple form-control" multiple="multiple">
                        <option>Choose option</option>
                        <option>Option one</option>
                        <option>Option two</option>
                        <option>Option three</option>
                        <option>Option four</option>
                        <option>Option five</option>
                        <option>Option six</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Tags</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <select class="select2_multiple form-control" multiple="multiple">
                        <option>Choose option</option>
                        <option>Option one</option>
                        <option>Option two</option>
                        <option>Option three</option>
                        <option>Option four</option>
                        <option>Option five</option>
                        <option>Option six</option>
                      </select>
                    </div>
                  </div>-->
                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <button type="submit" class="btn btn-primary">Cancel</button>
                      <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="x_panel">
            <div class="x_title">
              <h2>Payroll</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li>
                  <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                  </a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
    
            <div class="x_content">
    
    
              <form enctype="multipart/form-data" method='post' action="{% url 'caregiver_post_payroll' %}">
                {% csrf_token %}
    
                <div class="row">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>Payroll Details
                        <small></small>
                      </h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li>
                          <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                          </a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
    
                   <div class="x_content">
                     <div class="row">

                     
                    <div class="form-group">
                      <label class="col-md-3 col-sm-3 col-xs-3">Regular hourly rate</label>
                      
                     
                      
                      <div class="col-md-3 col-sm-3 col-xs-3">
                        <label>
                          {% if not caregiver.regular_hourly_rate is None %}
                          <input type="number" name="{{ caregiver_payroll_form.regular_hourly_rate.html_name}}"  min="0" step="any" value="{{caregiver.regular_hourly_rate}}" required> 
                          {% else %}
                          <input type="number" name="{{ caregiver_payroll_form.regular_hourly_rate.html_name}}"  min="0" step="any"  required> 
                          {% endif %}
                        </label>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3">
                        <label >What % of Hourly Rate to be used for Weekend hourly Rate &nbsp;
                          
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3">
                        <input  type="number" step="any"
                            placeholder="enter percent" onchange="myFunction(this.value)" name="percent_Weekend_hourly_rate" ></label>
                      </div>

                      
                    </div>
                  </div>

                    <div class="row">
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-3">Weekend hourly rate
                          <br>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <label>
                            {% if not caregiver.weekend_hourly_rate is None %}
                            <input type="number" name="{{ caregiver_payroll_form.weekend_hourly_rate.html_name}}" min="0" step="any" value="{{caregiver.weekend_hourly_rate}}" required> 
                            {% else %}
                            <input type="number" name="{{ caregiver_payroll_form.weekend_hourly_rate.html_name}}" min="0" step="any" required> 
                            {% endif %}
                          </label>
                        </div>
                      

                      <div class="col-md-3 col-sm-3 col-xs-3"> 
                        <label>What times of Regular Hourly Rate should be used for Holiday hourly rate </label>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3">
                         <input type="number" step="any"
                          onchange="myFunctions(this.value)"  name="percent_holiday_hourly_rate" placeholder="enter no of times">
                      </div>


                    </div>
                    </div>
    
    
    
                    <div class="row">
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-3">Holiday hourly rate
                          <br>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <label>
                              {% if not caregiver.holiday_hourly_rate is None %}
                            <input type="number" name="{{ caregiver_payroll_form.holiday_hourly_rate.html_name}}" min="0" step="any" value="{{caregiver.holiday_hourly_rate}}" required> {% else %}
                            <input type="number" name="{{ caregiver_payroll_form.holiday_hourly_rate.html_name}}" min="0" step="any"  required>
                             {% endif %}
                          </label>
                        </div>
                      

                      <div class="col-md-3 col-sm-3 col-xs-3">
                        <label>What times of Weekend Hourly Rate should be used for Weekend Holiday hourly rate </label>
                      </div>

                      <div class="col-md-3 col-sm-3 col-xs-3">
                        <input type="number"  step="any"
                            placeholder="enter no of times" onchange="myweekend_holiday_rate(this.value)" name="percent_weekend_holiday_rate">
                      </div>
                    </div>
                    </div>
    
    
                    <div class="row">
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-3">Weekend holiday rate
                          <br>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <label>
                            {% if not caregiver.weekend_holiday_rate is None %}
                            <input type="number" name="{{ caregiver_payroll_form.weekend_holiday_rate.html_name}}" min="0" step="any" value="{{caregiver.weekend_holiday_rate}}" required> {% else %}
                            <input type="number" name="{{ caregiver_payroll_form.weekend_holiday_rate.html_name}}" min="0" step="any" required>
                            {% endif %}
                          </label>
                        </div>
                      </div>
                      <!-- <div class="col-md-3 col-sm-3 col-xs-3">
                        <label>What percent of Live in rate </label>
                      </div>

                      <div class="col-md-3 col-sm-3 col-xs-3"> 
                        <input type="number"  step="any"
                            placeholder="enter percent" onchange="myLiveinrate(this.value)" name="percent_live_in_rate">

                      </div> -->
                    </div>

                    <br>
                    <br>

    
    
                    <div class="row">
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-3">Live in rate
                          <br>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <label>
                            {% if not caregiver.live_in_rate is None %}
                            <input type="number" name="{{ caregiver_payroll_form.live_in_rate.html_name}}" min="0" step="any" value="{{caregiver.live_in_rate}}" required> {% else %}
                            <input type="number" name="{{ caregiver_payroll_form.live_in_rate.html_name}}" min="0" step="any"  required>
                            {% endif %}
                          </label>
                        </div>
                      

                      <div class="col-md-3 col-sm-3 col-xs-3">
                        <label>What % of Live in Rate to be used for Weekend Live in Rate </label>
                      </div>

                      <div class="col-md-3 col-sm-3 col-xs-3">
                        <input type="number"  step="any"
                            placeholder="enter percent" onchange="myWeekendliveinrate(this.value)" name="percent_weekend_live_in_rate">
                      </div>
                    </div>
                    </div>
    
                    <div class="row">
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-3">Weekend live in rate
                          <br>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <label>
                            {% if not caregiver.weekend_live_in_rate is None %}
                            <input type="number" name="{{ caregiver_payroll_form.weekend_live_in_rate.html_name}}" min="0" step="any" value="{{caregiver.weekend_live_in_rate}}" required> {% else %}
                            <input type="number" name="{{ caregiver_payroll_form.weekend_live_in_rate.html_name}}" min="0" step="any"  required>
                            {% endif %}
                          </label>
                        </div>
                      


                      <div class="col-md-3 col-sm-3 col-xs-3">
                        <label>What times of Regular Live in Rate should be used for Holiday Live in rate
                          </label>
                      </div>

                      <div class="col-md-3 col-sm-3 col-xs-3">

                        <input type="number"  step="any"
                            placeholder="enter no of times" onchange="myHolidayliveinrate(this.value)" name="percent_hoilday_live_in_rate">

                      </div>
                    </div>





                    </div>
    
                    <div class="row">
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-3">Holiday live in rate
                          <br>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <label>
                            {% if not caregiver.holiday_live_in_rate is None %}
                            <input type="number" name="{{ caregiver_payroll_form.holiday_live_in_rate.html_name}}" min="0" step="any" value="{{caregiver.holiday_live_in_rate}}" required> {% else %}
                            <input type="number" name="{{ caregiver_payroll_form.holiday_live_in_rate.html_name}}" min="0" step="any" required>
                            {% endif %}
                          </label>
                        </div>
                      

                      <div class="col-md-3 col-sm-3 col-xs-3">
                        <label>What times of Weekend Live in Rate should be used for Weekend Holiday Live in rate</label>
                      </div>

                      <div class="col-md-3 col-sm-3 col-xs-3">

                        <input type="number"  step="any"
                            placeholder="enter no of times" onchange="myWeekendholidayliveinrate(this.value)" name="percent_weekend_holiday_live_in_rate">

                      </div>
                    </div>
                    </div>
    
                    <div class="row">
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-3">Weekend holiday live in rate
                          <br>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <label>
                            {% if not caregiver.weekend_holiday_live_in_rate is None %}
                            <input type="number" name="{{ caregiver_payroll_form.weekend_holiday_live_in_rate.html_name}}" min="0" step="any" value="{{caregiver.weekend_holiday_live_in_rate}}" required> {% else %}
                            <input type="number" name="{{ caregiver_payroll_form.weekend_holiday_live_in_rate.html_name}}" min="0" step="any"  required>
                            {% endif %}
                          </label>
                        </div>
                      </div>
                    </div>
    
                    <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-6">
                          <input type="hidden" name='{{caregiver_payroll_form.caregiver_email.html_name}}' value='{{caregiver_email}}'>
                        <button type="submit" class="btn btn-success">Submit</button>
                      </div>
                    </div>
                </div>
                  </div>
                </div>
    
              </form>
            </div>
          </div>
        </div>
    
    








        <div class="row">
          <div class="x_panel">
            <div class="x_title">
              <h2>Client Match Criteria<small>Select criteria to use for matching</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <form id="criteriaradio"  enctype="multipart/form-data"  method='post' action="{% url 'caregiver_post_criteria' %}"> 
              {% csrf_token %}
            <div class="x_content">
                {% for category, criterias in criteria_map.items %}
                <div class="row">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>{{category.category}}<small></small></h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <br />

                        {% for criteria, status in criterias.items %}

                        <div class = "row">
                          <div class="form-group">
                            <label class="col-md-8 col-sm-8 col-xs-12">{{criteria.criteria}}
                              <br>
                            </label>
                            <div class="radio-inline">

                              <label>

                                {% if status.status == 'Y' %}
                                  <input type="radio" class="criteria_radio" name="{{status.id|addstr:'_'|addstr:'criteria'}}" checked="checked" value='Y'>Y
                                {% else %}
                                  <input type="radio" onClick ="focusevent(true)" class="criteria_radio" name="{{status.id|addstr:'_'|addstr:'criteria'}}" value='Y'>Y
                                {% endif %}
                              </label>
                            </div>
                            <div class="radio-inline">
                              <label>
                                {% if status.status == 'N' %}
                                  <input type="radio" class="criteria_radio" name="{{status.id|addstr:'_'|addstr:'criteria'}}" checked="checked" value='N'>N
                                {% else %}
                                  <input type="radio" onClick ="focusevent(true)" class="criteria_radio" name="{{status.id|addstr:'_'|addstr:'criteria'}}" value='N'>N
                                {% endif %}
                              </label>
                            </div>
                            <div class="radio-inline">
                              <label>
                                {% if status.status == 'NA' %}
                                  <input type="radio" class="criteria_radio" name="{{status.id|addstr:'_'|addstr:'criteria'}}" checked="checked" value='NA'>N/A
                                {% else %}
                                  <input type="radio" onClick ="focusevent(true)" class="criteria_radio" name="{{status.id|addstr:'_'|addstr:'criteria'}}" value='NA'>N/A
                                {% endif %}
                              </label>
                            </div>
                          </div>
                        </div>

                        {% endfor %}
                     
                    </div>
                  </div>
                </div>
           
            
              {% endfor %}
        
            

              {% for category, criterias in certification_map.items %}
             
                
                <div class="row">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>{{category.category}}<small></small></h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <br />

                        {% for criteria, status in criterias.items %}

                        <div class = "row">
                          <div class="form-group">
                            <label class="col-md-8 col-sm-8 col-xs-12">{{criteria.criteria}}
                              <br>
                            </label>
                            <div class="radio-inline">

                              <label>

                                {% if status.status == 'Y' %}
                                  <input type="radio" class="certification_radio" name="{{status.id|addstr:'_'|addstr:'certification'}}" checked="checked" value='Y'>Y
                                {% else %}
                                  <input type="radio" onClick ="focusevent(true)" name="{{status.id|addstr:'_'|addstr:'certification'}}" value='Y'>Y
                                {% endif %}
                              </label>
                            </div>
                            <div class="radio-inline">
                              <label>
                                {% if status.status == 'N' %}
                                  <input type="radio" class="certification_radio" name="{{status.id|addstr:'_'|addstr:'certification'}}" checked="checked" value='N'>N
                                {% else %}
                                  <input type="radio" onClick ="focusevent(true)" name="{{status.id|addstr:'_'|addstr:'certification'}}" value='N'>N
                                {% endif %}
                              </label>
                            </div>
                            <div class="radio-inline">
                              <label>
                                {% if status.status == 'NA' %}
                                  <input type="radio" class="certification_radio" name="{{status.id|addstr:'_'|addstr:'certification'}}" checked="checked" value='NA'>N/A
                                {% else %}
                                  <input type="radio" onClick ="focusevent(true)" name="{{status.id|addstr:'_'|addstr:'certification'}}" value='NA'>N/A
                                {% endif %}
                              </label>
                            </div>
                          </div>
                        </div>

                        {% endfor %}
                      
                     
                    
                    </div>
                  </div>
                </div>
              
              {% endfor %}

              {% for category, criterias in transfer_map.items %}
            
                
                <div class="row">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>{{category.category}}<small></small></h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <br />

                        {% for criteria, status in criterias.items %}

                        <div class = "row">
                          <div class="form-group">
                            <label class="col-md-6 col-sm-6 col-xs-12">{{criteria.criteria}}
                              <br>
                            </label>
                            <div class="radio-inline">

                              <label>

                                {% if status.experience == 1 %}
                                  <input type="radio" class="transfer_radio" name="{{status.id|addstr:'_'|addstr:'transfer'}}" checked="checked" value=1>Minimal or no Experience
                                {% else %}
                                  <input type="radio" onClick ="focusevent(true)" class="transfer_radio" name="{{status.id|addstr:'_'|addstr:'transfer'}}" value='1'>Minimal or no Experience
                                {% endif %}
                              </label>
                            </div>
                            <div class="radio-inline">
                              <label>
                                {% if status.experience == 2 %}
                                  <input type="radio" class="transfer_radio" name="{{status.id|addstr:'_'|addstr:'transfer'}}" checked="checked" value=2>Some Experience
                                {% else %}
                                  <input type="radio" onClick ="focusevent(true)" class="transfer_radio" name="{{status.id|addstr:'_'|addstr:'transfer'}}" value='2'>Some Experience
                                {% endif %}
                              </label>
                            </div>
                            <div class="radio-inline">
                              <label>
                                {% if status.experience == 3 %}
                                  <input type="radio" class="transfer_radio" name="{{status.id|addstr:'_'|addstr:'transfer'}}" checked="checked" value=3>Proficient
                                {% else %}
                                  <input type="radio" onClick ="focusevent(true)" class="transfer_radio" name="{{status.id|addstr:'_'|addstr:'transfer'}}" value='3'>Proficient
                                {% endif %}
                              </label>
                            </div>
                          </div>
                        </div>

                        {% endfor %}
                    
                    </div>
                  </div>
                </div>
            
              {% endfor %}
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-5 col-sm-9 col-xs-12 col-md-offset-6">
                <button type="button" onclick="transferradiosubmit()" class="btn btn-success">Submit</button>
              </div>
            </div>
          </form>
          </div>
        </div>
        <!--
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Add Picture</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <p>Drag Picture to box below to</p>
                <form action="form_upload.html" class="dropzone">
                </form>
                <br />
                <br />
                <br />
                <br />
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </div>
    <!-- /page content -->
    {% endblock %}

{% block footlibs %}
<!-- bootstrap-daterangepicker -->
<script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<!-- Dropzone.js -->
<script src="{% static 'vendors/dropzone/dist/min/dropzone.min.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>
<!-- starrr -->
<script src="{% static 'vendors/starrr/dist/starrr.js' %}"></script>
<!-- jquery.inputmask -->
<script src="{% static 'vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>
{% endblock %}

{% block scripts %}

<!--get cookie -->
  <script>
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }
</script>
<!-- end -->

<!-- Post criteria radio -->
  <!-- <script type="text/javascript">
      $(document).ready(function(){
        var csrftoken = getCookie('csrftoken');
        $('input[class=criteria_radio]:radio').change(function(){
          $.ajax({
            url: 'caregiver_post_criteria',
            beforeSend: function(jqXHR, settings){
              jqXHR.setRequestHeader("x-csrftoken",csrftoken);
            },
            type: 'POST',
            data: {status_id: this.name, status: this.value}
          })
          console.log('entered');
        });
      });

  </script> -->
<!-- end -->

<!-- Post Certification radio -->
  <!-- <script type="text/javascript">
      $(document).ready(function(){
        var csrftoken = getCookie('csrftoken');
        $('input[class=certification_radio]:radio').change(function(){
          $.ajax({
            url: 'caregiver_post_certification',
            beforeSend: function(jqXHR, settings){
              jqXHR.setRequestHeader("x-csrftoken",csrftoken);
            },
            type: 'POST',
            data: {status_id: this.name, status: this.value}
          })
          console.log('entered');
        });
      });

  </script> -->
<!-- end -->

<!-- Post Transfer radio -->
  <!-- <script type="text/javascript">
      $(document).ready(function(){
        var csrftoken = getCookie('csrftoken');
        $('input[class=transfer_radio]:radio').change(function(){
          $.ajax({
            url: 'caregiver_post_transfer',
            beforeSend: function(jqXHR, settings){
              jqXHR.setRequestHeader("x-csrftoken",csrftoken);
            },
            type: 'POST',
            data: {experience_id: this.name, experience: this.value}
          })
          console.log('entered');
        });
      });
  </script> -->
<!-- end -->

<!-- Select2 -->
<script>
      $(document).ready(function() {
        $(".select2_single").select2({
          placeholder: "Select a state",
          allowClear: true,
          dropdownParent: jQuery('.dropdown-state-containerss')
        });
        $(".select2_group").select2({});
        $(".select2_multiple").select2({
          maximumSelectionLength: 5,
          placeholder: "With Max Selection limit 5",
          allowClear: true
        });
      });
    </script>
<!-- /Select2 -->

<!-- bootstrap-daterangepicker -->
    <script>
      $(document).ready(function() {
        $('#birthday').daterangepicker({
          singleDatePicker: true,
          showDropdowns: true,
          maxDate: new Date,
          calender_style: "picker_4"
        }, function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
        });
      });
    </script>
<!-- /bootstrap-daterangepicker -->

<!-- jquery.inputmask -->
  <script>
    $(document).ready(function(){
      $(":input").inputmask();
    });
  </script>
<!-- /jquery.inputmask -->

<!-- Starrr -->
<script>
  $(document).ready(function(){
    $(".stars").starrr({
      rating: {{edit_caregiver_form.rating.value}}
    });
    $(".stars").on("starrr:change", function(e, value){
      $(".stars-count").html(value);
      $("#edit_caregiver_form_rating").val(value);
    });
  });
</script>

<script>
  function myFunction(val){
    percent_Weekend_hourly_rate= $("input[name=percent_Weekend_hourly_rate]").val();
    regular_hourly_rates = $("input[name=regular_hourly_rate]").val();
    values =   regular_hourly_rates * percent_Weekend_hourly_rate /100
    regular_hourly_rates = ((regular_hourly_rates * 1) + (values * 1)).toFixed(2)
    console.log("weekend_hourly_rate" + regular_hourly_rates )
    $("input[name=weekend_hourly_rate]").val(regular_hourly_rates)
    
  }
  </script>

  
<script>

  function myFunctions(val){
    percent_holiday_hourly_rate= $("input[name=percent_holiday_hourly_rate]").val();
    // weekend_hourly_rate = $("input[name=weekend_hourly_rate]").val();
    regular_hourly_rates = $("input[name=regular_hourly_rate]").val();
    values =   regular_hourly_rates * percent_holiday_hourly_rate 
    regular_hourly_rates =  (values * 1).toFixed(2)
    console.log("regular_hourly_rates" + regular_hourly_rates )
    $("input[name=holiday_hourly_rate]").val(regular_hourly_rates) 
    
  }
  </script>
  
  
  <script>
  
    function myweekend_holiday_rate(val){
      percent_weekend_holiday_rate= $("input[name=percent_weekend_holiday_rate]").val();
      // holiday_hourly_rate = $("input[name=holiday_hourly_rate]").val();
      weekend_hourly_rate = $("input[name=weekend_hourly_rate]").val();
    
      values = weekend_hourly_rate   * percent_weekend_holiday_rate 
      holiday_hourly_rate =  (values * 1).toFixed(2)
      console.log("weekend_holiday_rate" + holiday_hourly_rate )
      console.log("ihuhuhu" +values)
      $("input[name=weekend_holiday_rate]").val(holiday_hourly_rate) 
      
    }
  </script>
  
  
  <!-- <script>
  
    function myLiveinrate(val){
      percent_live_in_rate= $("input[name=percent_live_in_rate]").val();
      regular_hourly_rates = $("input[name=regular_hourly_rate]").val();
      // weekend_holiday_rate = $("input[name=weekend_holiday_rate]").val();
      values =   regular_hourly_rates * percent_live_in_rate /100
      live_rate = ((regular_hourly_rates * 1) + (values * 1)).toFixed(2)
      console.log("regular_hourly_rates " + live_rate )
      $("input[name=live_in_rate]").val(live_rate) 
      
    }
  </script> -->
  
  <script>
  
    function myWeekendliveinrate(val){ 
      percent_weekend_live_in_rate= $("input[name=percent_weekend_live_in_rate]").val();
      // live_in_rate = $("input[name=live_in_rate]").val();
      live_in_rate = $("input[name=live_in_rate]").val();
      values =   live_in_rate * percent_weekend_live_in_rate /100
      live_in_rate = ((live_in_rate * 1) + (values * 1)).toFixed(2)
      console.log("values" + values )
      $("input[name=weekend_live_in_rate]").val(live_in_rate) 
      
    }
  </script>
  
  
  <script>
  
    function myHolidayliveinrate(val){
      percent_hoilday_live_in_rate = $("input[name=percent_hoilday_live_in_rate]").val();
      live_in_rate = $("input[name=live_in_rate]").val();
      values =  live_in_rate *  percent_hoilday_live_in_rate 
      weekend_live_in_rate = (values * 1).toFixed(2)
      console.log("weekend_live_in_rate" + weekend_live_in_rate )
      $("input[name=holiday_live_in_rate]").val(weekend_live_in_rate) 
      
    }
  </script>
  
  
  
  
  <script>
  
    function myWeekendholidayliveinrate(val){
      percent_weekend_holiday_live_in_rate= $("input[name=percent_weekend_holiday_live_in_rate]").val();
      // holiday_live_in_rate = $("input[name=holiday_live_in_rate]").val();
      // console.log("weekend_holiday_live_in_rate" + holiday_live_in_rate )
      weekend_live_in_rate = $("input[name=weekend_live_in_rate]").val();
      console.log("percent_weekend_holiday_live_in_rate" + percent_weekend_holiday_live_in_rate )
      values =   weekend_live_in_rate * percent_weekend_holiday_live_in_rate 
      holiday_live_in_rate =  (values * 1).toFixed(2)
      
      $("input[name=weekend_holiday_live_in_rate]").val(holiday_live_in_rate) 
      
    }
  </script>
  




<script>
  function update_state() {
      // Get the checkbox
      values = $('#dropDownId :selected').val()
      console.log("valuesvalues",values)
      // Get the output text
      var selectlead = document.getElementById("selectlead");
      
      if (values === "Other") {
          selectlead.style.display = "block";
          $('#otherstatevalue').attr('required', 'required');

      
      } else {
          selectlead.style.display = "none";
          $('#otherstatevalue').removeAttr('required');
      
      }
  }
</script>


<script>
  function valueclick(attachmentid){

    if(confirm("Do you want to Delete ?")){

      $.ajax({

url: "{% url 'delete_caregiver_attachment' %}",
type: "GET",

data: {

  "attachment_id": attachmentid,
  "caregiver_id" :$("input[name=caregiver_id]").val(),

},
dataType: "json",
contentType: "application/json",
success: function (data) {
  location.reload();

}

});

    }
    console.log("attachmentidattachmentid",attachmentid)

  }
</script>



<script>
  $(document).ready(function() {

   values = $('#dropDownId :selected').val()
     console.log("ssss ---",values)
     // Get the output text
     var selectlead = document.getElementById("selectlead");
     
     if (values === "Other") {
       selectlead.style.display = "block";
       $('#otherstatevalue').attr('required', 'required');
       
     }
     else
     {
       selectlead.style.display = "none";
       $('#otherstatevalue').removeAttr('required');
     }
  })
</script>


<script>
  var transfervalue = false ;  

   function   focusevent(transfervalue) {  
     if(transfervalue)
     {
       this.transfervalue =  true
     }
   else{
     alert("Please select atleast one checkbox")
   }
  }

   function transferradiosubmit(){

    focusevent(transfervalue)
       if(this.transfervalue){
         document.getElementById('criteriaradio').submit();
       }  
   }
   </script>

{% endblock %}
