{% extends "production/base.html" %}
{% block title %} Client Invoice {% endblock %}
{% load mycareportal_app_extras%}
{% block headlibs %}
{% load static %}

<!-- iCheck -->
<link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
<!-- bootstrap-wysiwyg -->
<link href="{% static 'vendors/google-code-prettify/bin/prettify.min.css' %}" rel="stylesheet">
<!-- Switchery -->
<link href="{% static 'vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">
<!-- starrr -->
<link href="{% static 'vendors/starrr/dist/starrr.css' %}" rel="stylesheet">
<!-- bootstrap-daterangepicker -->
<link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
<!-- Select2 -->
<link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">

<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
{% endblock %}
{% block pagecontent %}
<!-- page content -->
<style>
  @media print {

    .no-print,
    .no-print * {
      display: none !important;
    }
  }
   main-table{
      border-collapse:collapse;
  
  }
  .main-table td{
      border:2px solid #ccc;
      background:rgb(253, 250, 250);
      height:50px;
      position:relative;
      width:50px;
      text-align:center
     
  }
  .main-table td:hover::before{
      border:2px solid #000;
      bottom:-1px;
      content:"";
      left:-1px;
      position:absolute;
      right:-1px;
      top:-1px;
      text-align:center
  }
  
  </style>

<div class="right_col" role="main">
  <div class="">
    <div class="page-title no-print">
      <div class="title_left">
        <h3>Invoice</h3>
      </div>
    </div>

    <div class="clearfix"></div>
    
    {{block.super}}
  
    {% if messageslist %}
    <ul class="messages">
       {% for message in messageslist %}
          <div class="noactiveinvoice"  >
            <strong class="textnoactive" style="font-weight: 400; margin-left: 10px;"> {{message}}
            
              </strong>
          </div>
      {% endfor %}
    </ul>
    {% endif %}
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title no-print">
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <section class="content invoice">
              <!-- title row -->
              <div class="row">
                <div class="col-xs-12 invoice-header">
                  <h1 class="pull-right">
                    Invoice <br>
                    {{invoice_header_data.created | date}}
                    <!-- <small >{{start_date}} - {{end_date}}</small> -->
                  </h1>

                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">

                <div class="col-sm-5 col-md-5 invoice-col">
                  {% if current_company.logo %}
                  <img src="{{current_company.logo.url}}" style="width: 270px; height:200px;">
                  {% endif %}

                </div>

                <div class="col-sm-4 col-md-3 invoice-col">
                  <address>
                    <strong>{{current_company.company_name}}</strong>
                    <br>{{current_company.address}}
                    <br>{{current_company.city}}, {{current_company.state}} {{current_company.zip_code}}
                    <br>Phone: {{current_company.contact_number}}
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-5 col-md-3 invoice-col">

                  Date: <small>{{current_date}}</small><br>
                  Invoice :  {{invoice_header_data.invoice_number_string}}
                </div>


              </div>

              <!-- Table row -->

              <div class="row">
                <div class="col-xs-12 table">
                  <table   id="lineitemid" style="width: 100%;" class="main-table">
                    <thead>
                      <tr>
                        <th>Patient Name</th>
                        <th style="width: 25%">Service Address</th>
                        <th>Assigned Caregiver</th>
                        <th>Hours/Per Day</th>
                        <th>Rate Type</th>
                        <th>Rate</th>
                        <th>Total</th>
                        {% if not submit %}
                        <th>Update</th>
                        {% endif %}
                      </tr>
                    </thead>


                    {% for invoice in  invoice_line_items %}

                    <tr>
                      <input type="hidden" name="invoicelineid" value="{{invoice.id}}">
                      <td> {{invoice_header_data.client.first_name}} {{invoice_header_data.client.last_name}} </td>
                      <td> {{invoice_header_data.client.address}} {{invoice_header_data.client.city}} <br>
                        {{invoice_header_data.client.state}} {{invoice_header_data.client.zip_code}} <br>
                        {{invoice_header_data.client.contact_number}}
                      </td>

                      <td>{{invoice.caregiver.first_name}} {{invoice.caregiver.last_name}}</td>
                      {% if submit %}
                      <td>{{invoice.hours}}</td>
                      <td>{{ invoice.rate_type}}</td>
                      <td> {{ invoice.rate}}<br></td>
                      {% else %}
                      <td class="half"  contenteditable='true' id="demo">
                        {{invoice.hours}}</td>
                      <td class="half" contenteditable='true' >{{ invoice.rate_type}}</td>
                      <td class="half" contenteditable='true'> {{ invoice.rate}}<br></td>
                      {% endif %}
                      
                      <td>{{invoice.total  }}</td>
                    {% if not submit %}
                      {% if invoice.rate_type == "Supplies" or invoice.rate_type == "Mileage"  or invoice.rate_type == "Miscellaneous"  %}
                      <td ><button type="submit" style="z-index: 1000;  position: relative"  name="invoicelines" onclick="deletLine(this.value)"
                        value="{{invoice.id}}" class="btn btn-success">Delete</button></td>

                      {% else %}
                      <td ><button type="submit" style="z-index: 1000;  position: relative"  name="invoicelines" onclick="editlinitem(this.value)"
                          value="{{invoice.id}}" class="btn btn-success">Update</button></td>
                      {% endif %}
                    {% endif %}
                    </tr>

                    {% endfor %}

                  </table>
                </div>
              </div>
              {% if not submit and  invoice_line_items  %}
              <div class="row">
                <div class="col-xs-12 table">

                  <table id="myTable" class="table order-list">
                    <thead>

                    </thead>

                    <tr>
                      <!-- <td class="col-sm-2">
                        {{invoice_header_data.client.first_name}} {{invoice_header_data.client.last_name}}
                      </td>
                      <td class="col-sm-2">
                        {{invoice_header_data.client.address}} {{invoice_header_data.client.city}} <br>
                        {{invoice_header_data.client.state}} {{invoice_header_data.client.zip_code}} <br>
                        {{invoice_header_data.client.contact_number}}

                      </td> -->
                      <td class="col-sm-2">
                        <select required class="select2_single form-control" placeholder="Caregive Name"
                          id="dropDownId">
                          <option value="" selected> Caregiver Name</option>
                          {% for invoice in  caregiver %}
                          <option value="{{invoice.id}}={{invoice.first_name}} {{invoice.last_name}}">
                            {{invoice.first_name}}
                            {{invoice.last_name}}
                          </option>
                          {% endfor %}
                        </select>
                      </td>

                      <!-- <td class="col-sm-2">
                        <input type="number" placeholder="Hours/Day" name="invoice_field_hours_perday" id="hours_perday"
                          class="form-control"/>
                      </td> -->
                      <!-- <td class="col-sm-2">
                        <select required class="select2_single form-control" id="dropDownIdratetype">
                          <option value="" selected>Rate Type</option>
                          {% for invoice in  invoice_line_distinct %}
                          <option value="{{invoice.rate_type}}">{{invoice.rate_type}} </option>
                          {% endfor %}
                        </select>
                      </td> -->
                      <td>
                        <select required class="select2_single form-control" placeholder="Caregive Name"
                        id="dropDownratetype">
  
                        <option value="" selected> Service Type</option>
                        {% for ratetype in  invoice_rate_types %}
                        <option value="{{ratetype.id}} {{ratetype.rate_types}}">
                          {{ratetype.rate_types}}
                        </option>
  
                        {% endfor %}
  
                      </select>
                        </td>
                      <td class="col-sm-2">
                        <input type="number" placeholder="" name="invoice_field_rate" id="rate"
                          class="form-control"/>
                      </td>


                      <td class="col-sm-2">

                        <input type="button" class="btn  btn-success " id="addFields" value="Add Row" />
                      </td>
                    </tr>
                  </table>
                </div>
              </div>

              {% else %}

              <!-- /.row -->
              {% endif %}
              <br>
              <br>
              <br>
              <br>
              <div class="row">
                <div class="col-xs-6">


                  <div class="form-group">
                    <label for="invoice_notes" class="control-label col-md-3 col-sm-3 col-xs-12">Invoice Notes</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {% if not submit and invoice_line_items %}

                      <input type="text" id="invoice_notes" class="form-control col-md-7 col-xs-12"
                        name="invoice_notes">
                      <input type="hidden" id="invoice_header_id" class="form-control col-md-7 col-xs-12"
                        name="invoice_header_id" value="{{invoice_header_data.id}}">
                      {% else %}
                      : {{invoice_header_data.invoice_notes}}
                      {% endif %}


                      <!-- <input type="text" class="form-control col-md-7 col-xs-12" name="{{edit_client_form.middle_name.html_name}}"> -->

                    </div>
                  </div>


                  <!-- /.col -->
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <div class="pull-right">

                      <div class="form-group">
                        {% if invoice_header_data.taxes  %}
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Taxes </label>
                    
                        <span style="margin-left: 20px;">: {{invoice_header_data.taxes }} </span>
                        {% else %}
                        <span style="margin-left: 20px;"> </span>
                        {% endif %}
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Total</label>
                        <span style="margin-left: 20px;"> : {{invoice_header_data.total_cost  }} </span>

                      </div>
                    </div>
                  </div>
                </div>
                <br>

                <div class="row">
                  <div class="col-xs-5">

                    <div class="form-group">
                      <label for="invoice_notes" class="control-label col-md-3 col-sm-3 col-xs-12">Invoice for the <br>
                        week of</label> {{start_date}} - {{end_date}}

                    </div>
                  </div>

                  <div class="col-xs-6">

                    <div class="row">
                      <label>Additional Notes: </label>
                    </div>
                    <div class="row">
                      {% for i in caregiver_schedule_notes %}

                      <h5>{{i.date | date:"D"}} {{i.start_time}} {{i.end_time}} {{i.caregiver.first_name}} {{i.caregiver.last_name}} </h5>
                      

                      {% endfor %}
                    </div>
                  </div>
                  <!-- /.col -->
                </div>
                <br>
                <br>

                <!-- /.row -->

                <!-- this row will not appear when printing -->
                <div class="row no-print">
                  <div class="col-xs-12">
                    <!-- <button class="btn btn-default" onclick="window.print()"><i class="fa fa-print"></i> Print</button> -->
                    {% if submit %}
                    <button id="" disabled class="btn btn-success pull-right"><i class="fa fa-credit-card"></i>
                      Submit
                      Invoice</button>
                    {% else %}
                    <button id="stbutton" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit
                      Invoice</button>
                    {% endif %}
                   
                    <button class="btn btn-primary pull-right" id="download" style="margin-right: 5px;"><i
                        class="fa fa-download"></i> Generate PDF</button>
                        <button class="btn btn-primary pull-right" id="sendemail"><i
                          class=""></i> Send Email</button>
                  </div>
                </div>

            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
{% endblock %}
{% block footlibs %}

{% endblock %}




{% block scripts %}


<script>
  $(document).ready(function () {

    $("#download").on("click", function () {


      $.ajax({
        url: "{% url 'generate_pdf' %}",
        type: "GET",
        data: {

          "company_name": "{{current_company.company_name}}",
          "company_address": "{{current_company.address}}",
          'company_city': '{{current_company.city}}',
          'company_state': '{{current_company.state}}',
          'company_zipcode': '{{current_company.zip_code}}',
          'company_contactnumber': '{{current_company.contact_number}}',
          'start_date': '{{start_date}}',
          'end_date': '{{end_date}}',
          'client_firstname': '{{invoice_header_data.client.first_name}}',
          'client_lastname': '{{invoice_header_data.client.last_name}} ',
          'client_address': '{{invoice_header_data.client.address}} ',
          'client_city': '{{invoice_header_data.client.city}}',
          'client_zipcode': '{{invoice_header_data.client.zipcode}}',
          'client_state': '{{invoice_header_data.client.state}}',
          'client_contact_number': ' {{invoice_header_data.client.contact_number}}',
          'total': '{{invoice.total}}',
          'total_cost': ' {{invoice_header_data.total_cost}}',

          "invoice_notes": $("input[name=invoice_notes]").val(),
          "invoice_number_string": '{{ invoice_header_data.invoice_number_string }}',
          "invoice_header_id": '{{ invoice_header_data.id }}'

        },

        dataType: "json",
        contentType: "application/json",
        success: function (data) {



          window.location = "/billing/invoice/get_pdf";
          setTimeout(function () {
            window.location.replace("/mycareportal_app/");

          }, 3000);
        },
        error: function (data) {
          window.location = "/billing/invoice/get_pdf";

          setTimeout(function () {
            // window.location.replace("invoice");
          }, 3000);
        }
      });
    });
  });
</script>

<script>
$(document).ready(function (){

  $("#sendemail").on("click", function () {
    if (confirm("Do you want to Send Email ?")) {
   $("#sendemail").attr("disabled", true);
    $.ajax({
        url: "{% url 'send_email_invoice' %}",
        type: "GET",
        data: {

          'start_date': '{{start_date}}',
          'end_date': '{{end_date}}',
          "invoice_header_id": '{{ invoice_header_data.id }}'

        },

        dataType: "json",
        contentType: "application/json",
        success: function (data) {
          
          console.log("datadatadata",data)
          window.location.reload()
          alert("Email Sent sucessfully")
          setTimeout(function () {
            
            

          }, 3000);
        },
        error: function (data) {
          
          console.log("datadatadata",data)
          window.location.reload()
          // window.location = "/billing/invoice/get_pdf";
          
          setTimeout(function () {
            // window.location.replace("invoice");
          }, 3000);
        }
      });
    }
    else {
      console.log("---")
    }
    });
 

  })



</script>

<script>
  $(document).ready(function () {
    $("#stbutton").on("click", function () {
      
      var txt;
      var arrValues = new Array();
      var invoicedata = []
      var myTab = document.getElementById('myTable');



      if (myTab.rows.length > 1 || $("input[name=invoice_notes]").val() ) {
        console.log("myTab.rows.length",myTab.rows.length)
        $("#stbutton").attr("disabled", true);
        for (row = 1; row < myTab.rows.length; row++) {

          var person = new Object();
          // loop through each cell in a row.
          for (c = 0; c < myTab.rows[row].cells.length; c++) {
            var element = myTab.rows.item(row).cells[c];
            if (element.childNodes[0].getAttribute('name') == 'caregiverid') {

              person[element.childNodes[0].getAttribute('name')] = element.childNodes[0].value


            }
            if (element.childNodes[0].getAttribute('name') == 'invoice_fieldhours_perday') {

              person[element.childNodes[0].getAttribute('name')] = element.childNodes[0].value

            }

            if (element.childNodes[0].getAttribute('name') == 'invoice_fieldrate_typeid') {
              person[element.childNodes[0].getAttribute('name')] = element.childNodes[0].value

            }

            if (element.childNodes[0].getAttribute('name') == 'invoice_fieldrate') {
              person[element.childNodes[0].getAttribute('name')] = element.childNodes[0].value

            }

          }

          invoicedata.push(person)
        }
      

      $.ajax({
        url: "{% url 'submit_invoice' %}",
        type: "GET",

        data: {
          "invoice_field_array": JSON.stringify(invoicedata),
          "invoice_header_id": $("input[name=invoice_header_id]").val(),
          "invoice_notes": $("input[name=invoice_notes]").val(),
          'start_date': '{{ start_date }}',
          'end_date': '{{ end_date }}',
          'email': '{{invoice_header_data.client.email_address}}'
        },
        dataType: "json",
        contentType: "application/json",
        success: function (data) {
          location.reload();
        }
      })
    } 
    else{
      alert("Please fill all the fields")
    }
    });

  });
</script>




<script>
  $(document).ready(function () {
    var counter = 0;
    $("#addFields").on("click", function () {
        var newRow = $("<tr>");
        var cols = "";

        if (  $("input[name=invoice_field_rate]").val() && $('#dropDownId :selected').val() && $('#dropDownratetype :selected').val() ) {

          invoice_field_rate = $("input[name=invoice_field_rate]").val(),
            // invoice_field_rate_type = $('#dropDownIdratetype :selected').val(),
            invoice_field_caregiver_id = $('#dropDownId :selected').val(),
            // invoice_field_client_id = $("input[name=invoice_field_client_id]").val(),
            // invoice_field_rate_type = $("input[name=invoice_field_rate_type]").val(),
            invoice_field_hours_perday = $("input[name=invoice_field_hours_perday]").val(),
            invoice_header_id = $("input[name=invoice_header_id]").val(),
            invoice_caregiver_detail = invoice_field_caregiver_id.split("="),
            caregiverId = invoice_caregiver_detail[0]
            caregiverName = invoice_caregiver_detail[1]
            console.log("caregiverNamecaregiverName",caregiverId[0])
            invoice_field_rate_type_id =$('#dropDownratetype :selected').val(),
            console.log("invoice_field_rate_type_id",invoice_field_rate_type_id)
            ratetypeid = invoice_field_rate_type_id.split(" ", 1),
            invoice_field_rate_type = invoice_field_rate_type_id.slice(2, 100),
            
          

          // cols +=
          //   '<td><input type="text" style="font-size: 13px;" class="form-control" readonly name="invoice_fieldclient"  value="{{invoice_header_data.client.first_name}} {{invoice_header_data.client.last_name}} "/></td>';
          // cols += '<td><input type="text"  style="font-size: 13px;" class="form-control" readonly name="invoice_fieldaddress" value="{{invoice_header_data.client.address}} {{invoice_header_data.client.city}} {{invoice_header_data.client.state}} {{invoice_header_data.client.zip_code}} {{invoice_header_data.client.contact_number}}" /></td>';
          cols +=
            '<td><input type="text" style="font-size: 13px;"   class="form-control" readonly name="invoice_field_caregiver"  value=" ' +
            caregiverName + '"/></td>';
          cols +=
            '<td><input type="text" style="font-size: 13px;"  class="form-control" readonly name="invoice_fieldrate_type"  value=" ' +
            invoice_field_rate_type + '"/></td>';

          // cols +=
          //   '<td><input type="text" style="font-size: 13px;"  class="form-control" readonly name="invoice_fieldhours_perday"  value=" ' +
          //   invoice_field_hours_perday + '"/></td>';


          cols += '<td><input type="text"  class="form-control" readonly name="invoice_fieldrate"  value=" ' +
            invoice_field_rate + '"/></td>';

          cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';
          cols +=
            '<td><input type="hidden" style="width:30%;"  class="form-control" readonly name="caregiverid"  value="' +
            caregiverId + '"/></td>';
            cols +=
            '<td><input type="hidden" style="width:30%;"  class="form-control" readonly name="invoice_fieldrate_typeid"  value="' +
              ratetypeid + '"/></td>';

          newRow.append(cols);
          $("table.order-list").append(newRow);

          $("input[name=invoice_field_hours_perday]").val(null),
            $("input[name=invoice_field_rate]").val(null),
            $('#dropDownId').val(null),
            $("input[name=invoice_field_rate_type]").val(null),
            // $('#dropDownIdratetype').val(null),
            $("input[name=caregiverId]").val(null),
            $('#dropDownratetype').val(null),
            
            counter++;
        } else {
          alert("Please fill all the fields")
        }

      }),


      $("table.order-list").on("click", ".ibtnDel", function (event) {
        $(this).closest("tr").remove();
        counter -= 1
      })
  });
</script>

<script>
  function changeratetype(vel) {
    console.log(vel)
    var changerate = vel

    console.log("changerate", changerate)

  }


  //  $(document).ready(function () {
  //     var counter = 0;
  //     $("#editline").on("click", function () {
  function oneditline(val) {
    console.log("invoiceinvoiceinvoice" + $("getAttribute[name=]").val(null))





  }

  //     $.ajax({
  //       url: "{% url 'update_invoice' %}",
  //       type: "GET",

  //       data: {



  //       },
  //       dataType: "json",
  //       contentType: "application/json",
  //       success: function (data) {
  //         location.reload();
  //       }

  //     });
  //   });
  // })
</script>

<script>
  //  $(document).ready(function () {
  //   var counter = 0;
  //   $("#editline").on("click", function () {
  function editlinitem(x) {
    
    var myTab = document.getElementById('lineitemid');

    lineitem = []
    for (row = 1; row < myTab.rows.length; row++) {

      if (myTab.rows[row].childNodes[1].value == x) {
        var person = new Object();
        console.log("elementelementelement", myTab.rows[row].childNodes[1].value)
        var element = myTab.rows.item(row).cells[0].innerText;
        console.log("elementddddddddd344444", element)
        person["invoic_line_id"] = myTab.rows[row].childNodes[1].value;

        person["change_hours"] = myTab.rows.item(row).cells[3].innerText;
        person["change_ratetype"] = myTab.rows.item(row).cells[4].innerText;
        person["change_rate"] = myTab.rows.item(row).cells[5].innerText;

        lineitem.push(person)


      }


    }
    $.ajax({

      url: "{% url 'update_invoice' %}",
      type: "GET",

      data: {

        "invoice_line_array": JSON.stringify(lineitem),

      },
      dataType: "json",
      contentType: "application/json",
      success: function (data) {
        location.reload();

      }

    });




  }
</script>

<script>
  //  $(document).ready(function () {
  //   var counter = 0;
  //   $("#editline").on("click", function () {
  function deletLine(x) {

    if(confirm('Do you want to delete?')){
    
    var myTab = document.getElementById('lineitemid');
    console.log("myTabmyTab --",myTab)

    lineitem = []
    for (row = 1; row < myTab.rows.length; row++) {

      if (myTab.rows[row].childNodes[1].value == x) {
        var person = new Object();
        console.log("elementelementelement", myTab.rows[row].childNodes[1].value)
        var element = myTab.rows.item(row).cells[0].innerText;
        console.log("elementddddddddd344444", element)
        person["invoic_line_id"] = myTab.rows[row].childNodes[1].value;

        person["change_hours"] = myTab.rows.item(row).cells[3].innerText;
        person["change_ratetype"] = myTab.rows.item(row).cells[4].innerText;
        person["change_rate"] = myTab.rows.item(row).cells[5].innerText;

        lineitem.push(person)


      }


    }
    $.ajax({

      url: "{% url 'delete_invoice_line_detail' %}",
      type: "GET",

      data: {

        "invoice_line_delete_array": JSON.stringify(lineitem),

      },
      dataType: "json",
      contentType: "application/json",
      success: function (data) {
        location.reload();

      }

    });

  }


  }
</script>

{% endblock %}