{% extends "production/base.html" %}
{% block title %} Move Management Wizard {% endblock %}
{% load mycareportal_app_extras%}
{% load static %}
{% block headlibs %}
{% load static %}
<!-- iCheck -->
<link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
<!-- bootstrap-wysiwyg -->
<link href="{% static 'vendors/google-code-prettify/bin/prettify.min.css' %}" rel="stylesheet">
<!-- Switchery -->
<link href="{% static 'vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">
<!-- starrr -->
<link href="{% static 'vendors/starrr/dist/starrr.css' %}" rel="stylesheet">
<!-- bootstrap-daterangepicker -->
<link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
<!-- Select2 -->
<link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">
  <!-- SmartWizard -->
  <link href="{% static 'vendors/jQuery-Smart-Wizard/styles/smart_wizard.css' %}" rel="stylesheet">
{% endblock %}
{% block pagecontent %}
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Move Management Wizard</h3>
              </div>
            </div>
            <div class="clearfix"></div>
            {{block.super}}
            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">


                    <!-- Smart Wizard -->
                    <p></p>
                    <form id ="target" method='post' action="{% url 'move_manage_wizard' %}" class="form-horizontal form-label-left">
                    {% csrf_token %}
                    <div id="wizard" class="form_wizard wizard_horizontal">                      
                      <ul class="wizard_steps">
                        <li>
                          <a href="#step-1">
                            <span class="step_no">1</span>
                            <span class="step_descr">
                                              Step 1<br />
                                              <small>Location</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-2">
                            <span class="step_no">2</span>
                            <span class="step_descr">
                                              Step 2<br />
                                              <small>Cost</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-3">
                            <span class="step_no">3</span>
                            <span class="step_descr">
                                              Step 3<br />
                                              <small>Preferences</small>
                                          </span>
                          </a>
                        </li>
                        <!--<li>
                          <a href="#step-4">
                            <span class="step_no">4</span>
                            <span class="step_descr">
                                              Step 4<br />
                                              <small>Summary</small>
                                          </span>
                          </a>
                        </li>-->
                      </ul>
                      <div id="step-1">
                        <div class="row">
                            <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Client<span class="required">*</span></label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <select required id='client_dropdown' class="select2_group form-control" name={{create_move_task_form.client_uid.html_name}} tabindex="-1">
                                  <option disabled selected value> -- select an option -- </option>
                                  {% for client in all_clients %}
                                    <option value= {{client.uid}}>{{client.first_name|addstr_space:client.last_name}}</option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Maximum Distance of New Address<span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"  required="required"  class="form-control col-md-7 col-xs-12"  pattern="[-+]?[0-9]*[.,]?[0-9]+" min="0" max="1000"  name={{create_move_task_form.new_address_max_distance.html_name}}>
                                 <span class="required"  style="color: red;" id="fname_error_message"></span>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12">Type of Home<span class="required">*</span></label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <select required id="typehome" class="form-control" name={{create_move_task_form.type_of_home.html_name}}>
                                  <span></span>
                                  <option disabled selected value> -- select an option -- </option>
                                  <option value="HOUSE">House</option>
                                  <option value="TOWNHOUSE">Townhouse</option>
                                  <option value="APARTMENT">Apartment</option>
                                  <option value="SENIORFACILITY">Senior Facility</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12">Provides Move Assistance<span class="required">*</span></label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <div id="gender" class="btn-group" data-toggle="buttons">
                                  <label class="btn btn-default" data-toggle-class="btn-default" data-toggle-passive-class="btn-primary">
                                    <input required type="radio" class="btn-primary" name="{{create_move_task_form.provides_assistance.html_name}}" value="Y"> &nbsp; Yes &nbsp;
                                  </label>
                                  <label class="btn btn-default" data-toggle-class="btn-default" data-toggle-passive-class="btn-primary">
                                    <input required type="radio" class="btn-primary" name="{{create_move_task_form.provides_assistance.html_name}}" value="N"> No
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div id="step-2">


                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Minimum Cost<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="number"  id="first-name" name="{{create_move_task_form.minimum_cost.html_name}}" required="required" class="form-control col-md-7 col-xs-12">
                              <span class="required"  style="color: red;" id="mincosterror"></span>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Maximum Cost<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="number" id="last-name" name="{{create_move_task_form.maximum_cost.html_name}}" required="required" class="form-control col-md-7 col-xs-12">
                              <span class="required"  style="color: red;" id="maxcosterror"></span>
                            </div>
                          </div>

                      </div>
                      <div id="step-3">

                          <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Type of Area<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" id ="typearea" required name="{{create_move_task_form.type_of_area.html_name}}">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="CITY">City</option>
                            <option value="URBAN">Urban</option>
                            <option value="SUBURBAN">Suburban</option>
                            <option value="RURAL">Rural</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Handicap Friendly<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                              <input type="radio" name="{{create_move_task_form.handicap_friendly.html_name}}" value="Y" required> &nbsp; Yes &nbsp;
                            </label>
                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                              <input type="radio" name="{{create_move_task_form.handicap_friendly.html_name}}" value="N" required> No
                            </label>
                          </div>
                        </div>
                      </div>


                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Furnished<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                              <input type="radio" name="{{create_move_task_form.furnished.html_name}}" value="Y" required> &nbsp; Yes &nbsp;
                            </label>
                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                              <input type="radio" name="{{create_move_task_form.furnished.html_name}}" value="N" required> No
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!--<div id="step-4">



                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Current Address<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Maximum Distance of New Address<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                          </div>
                          <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Type of Home</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control">
                            <option>House</option>
                            <option>Townhouse</option>
                            <option>Apartment</option>
                            <option>Senior Facility</option>
                          </select>
                        </div>
                      </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Provides Move Assistance</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <div id="gender" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                  <input type="radio" name="gender" value="male"> &nbsp; Yes &nbsp;
                                </label>
                                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                  <input type="radio" name="gender" value="female"> No
                                </label>
                              </div>
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Minimum Cost<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Maximum Cost<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                          </div>


                          <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Type of Area</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control">
                            <option>City</option>
                            <option>Urban</option>
                            <option>Suburban</option>
                            <option>Rural</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Handicap Friendly</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div id="gender" class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                              <input type="radio" name="gender" value="male"> &nbsp; Yes &nbsp;
                            </label>
                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                              <input type="radio" name="gender" value="female"> No
                            </label>
                          </div>
                        </div>
                      </div>


                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Furnished</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div id="gender" class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                              <input type="radio" name="gender" value="male"> &nbsp; Yes &nbsp;
                            </label>
                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                              <input type="radio" name="gender" value="female"> No
                            </label>
                          </div>
                        </div>
                      </div>

                    </div>-->
                    </div>
                  </form>
                    <!-- End SmartWizard Content -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
{% endblock %}
{% block footlibs %}
    <!-- jQuery Smart Wizard -->
    <script src="{% static 'vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script>
{% endblock %}
{% block scripts %}
    <!-- jQuery Smart Wizard -->
    <script>
      $(document).ready(function() {
        $('#wizard').smartWizard({
           onFinish:onFinishCallback,selected: 0,
           hideButtonsOnDisabled :true,
           keyNavigation: true,onLeaveStep:leaveAStepCallback,
          });
        var value = false;
        $('#wizard_verticle').smartWizard({
          transitionEffect: 'fade',
  
 
        });

   


        function onFinishCallback(objs, context){


          // value = false
          console.log("finish clicked")
          var step_num = objs.attr('rel'); 
          // validateSteps(step_num,context)
        // if(validateAllSteps()){


        //     $('form').submit();
        // }
        console.log("finis me 111",step_num)
        if (step_num == 1) {  
         
          var getSelectedValue =  document.querySelector( 'input[name="handicap_friendly"]:checked'); 
          
          var getValue =  document.querySelector( 'input[name="furnished"]:checked'); 
          var assistance =  document.querySelector( 'input[name="provides_assistance"]:checked');  
          if (  $('#typearea :selected').val() && getSelectedValue && getValue && $("input[name=new_address_max_distance]").val() && $("input[name=minimum_cost]").val() && $("input[name=maximum_cost]").val() ){
                        
                           $('#target').submit();
                          }
        else {
        console.log("eeeeeeee",context.toStep)
        alert("Please fill all the fields")
        if(context.toStep == 2 ){
      value = true
                      }
              }
         }

        }
       

        function leaveAStepCallback(obj,context){
                        var step_num= obj.attr('rel'); 
                        console.log("context",context.toStep)

                        console.log("step_numstep_num",step_num)
                        validateSteps(step_num,context)
                        
                        return  value;
                        //  return false to stay on step and true to continue navigation
                      }
                    
                      function validateSteps(stepnumber,context){
                      var isStepValid = true;
                        
                        // validate step 1
                        if(stepnumber == 1){

                          var assistance =  document.querySelector( 'input[name="provides_assistance"]:checked'); 
                          if (  $("input[name=new_address_max_distance]").val()  ) {
                           console.log("ssss")     
                           $("#fname_error_message").html("field required").hide();                  
                          }
                          else {
                            value = false;
                            $("#fname_error_message").html("field required").show();
                          }
                          if (  $('#client_dropdown :selected').val()){
                           console.log("ssss")
                           value = false;
                          }
                          else {
                            value = false;
                            $("#fname_error_me").html("field required");
                            console.log("context.toStep 0000",context.toStep)
                          }

                          if ($('#client_dropdown :selected').val() && $("input[name=new_address_max_distance]").val() && $('#typehome :selected').val()  && assistance) {
                            
                           value = true;
                           
                          }
                          else{
                            alert("Please fill all the fields")
                          }
                        }
                        $("#mincosterror").html("field required").hide();
                          $("#maxcosterror").html("field required").hide();
                    
                        if (stepnumber == 2) {
                       
                          if (  $("input[name=minimum_cost]").val()) {
                           console.log("ssss",stepnumber)
                           value = true;
                           $("#mincosterror").html("field required").hide();
                          }
                          else {
                            value = false;
                             if(context.toStep == 1 ){
                              
                                value = true;
                               }
                            $("#mincosterror").html("field required").show();
                          }
                          if ($("input[name=maximum_cost]").val()) {
                           console.log("ssss")
                           value = true;
                           $("#maxcosterror").html("field required").hide();
                          }
                          else {
                            value = false; 
                            if(context.toStep == 1 ){
                                
                                value = true;
                                $("#maxcosterror").html("field required").hide();
                               }
                            
                           
                            $("#maxcosterror").html("field required").show();
                          }           
                        }


                        if (stepnumber == 3) {

                          console.log("hello")
 
                        }



                     
                      }
        
     
        $('.buttonPrevious').addClass('btn btn-primary');
        $('.buttonNext').addClass('btn btn-success'); 
        $('.buttonFinish').addClass('btn btn-default');
        $('.buttonFinish').attr("type", "submit");
        $("#vale").inputmask("(999)-999-9999", { "clearIncomplete": true });
      });

      $(document).ready(function(){
        // Inputmask("(999)-999-9999").mask("input");
      
      });
    </script>
      
     </script>


     <script>
    
    </script>
    <!-- /jQuery Smart Wizard -->

    <!--<script>
      document.getElementById("buttonFinish").onclick = function({
        this.submit();
      });
    </script>-->
{% endblock %}
