{% extends "production/base.html" %}
{% block title %} View Move Bids {% endblock %}
{% block headlibs %}
{% load static %}
    <!-- bootstrap-daterangepicker -->
    <link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
{% endblock %}
{% block pagecontent %}
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>View Move Bids</h3>
              </div>
            </div>

            <div class="clearfix"></div>

            {{block.super}}
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{{task.client.first_name}} {{task.client.last_name}}</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div class="col-md-12 col-lg-12 col-sm-12">
                      <!-- blockquote -->
                      <blockquote>
                        <h5>Address: {{task.address}}, {{task.city}}, {{task.state}}, {{task.zip_code}}</h5>
                        <h5>Max Relocation Distance: {{task.new_address_max_distance}}</h5>
                        <h5>New Home Type: {{task.type_of_home}}</h5>
                        <h5>Minimum Cost: {{task.minimum_cost}}</h5>
                        <h5>Maximum Cost: {{task.maximum_cost}}</h5>
                        <h5>Handicap Friendly: {{task.handicap_friendly}}</h5>
                        <h5>Furnished: {{task.furnished}}</h5>
                      </blockquote>

                    </div>

                    <div class="clearfix"></div>

                  </div>
                </div>
              </div>
          </div>


          {% for bid in bids %}
          {% if not bid.archived %}
          {% if bid.bid_live %}
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                      <div class="profile_img">
                        <div id="crop-avatar">
                          <!-- Current avatar -->
                          {% if bid.move_manager.profile_picture %} 
                             <img class="img-responsive avatar-view" src="{{bid.move_manager.profile_picture.url}}">
                          {% else %}
                          
                             <img class="img-responsive avatar-view" src="{% static 'pictures/img.png' %}"> 
                          {% endif %}
                        </div>
                      </div>
                      <h3>{{ bid.move_manager.first_name }} {{bid.move_manager.last_name}}</h3>

                      <ul class="list-unstyled user_data">
                        <li><i class="fa fa-phone user-profile-icon"></i> {{bid.move_manager.phone_number}}
                        </li>

                        <li><i class="fa fa-map-marker user-profile-icon"></i> {{bid.move_manager.address}}, {{bid.move_manager.city}} {{bid.move_manager.state}}, {{bid.move_manager.zip_code}}
                        </li>


                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">

                      <!-- start skills -->
                      <!--<h4>Skills</h4>
                      <ul class="list-unstyled user_data">
                        <li>
                          <p>Home Exterior</p>
                          <div class="progress progress_sm">
                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                          </div>
                        </li>
                        <li>
                          <p>Windows</p>
                          <div class="progress progress_sm">
                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70"></div>
                          </div>
                        </li>
                        <li>
                          <p>Ramps</p>
                          <div class="progress progress_sm">
                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
                          </div>
                        </li>
                        <li>
                          <p>Entry</p>
                          <div class="progress progress_sm">
                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                          </div>
                        </li>
                        <li>
                          <p>Rating</p>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                        </li>
                      </ul>-->
                      <!-- end of skills -->
                    </div>

                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <form method="post" action="{% url 'modify_bid' %}" class="form-horizontal form-label-left input_mask" style="float: left;">
                          {% csrf_token %}
                          <div>
                            <div class="form-group col-md-12 col-lg-12 col-sm-12">
                              <label class="control-label">Bid Sent Timestamp<span class="required">*</span>
                              </label>
                              <input type="text" class="form-control" value="{{bid.created}}" disabled>
                            </div>
                            <div class="form-group col-md-12 col-lg-12 col-sm-12">
                              <label class="control-label">Start Date<span class="required">*</span>
                              </label>
                              <input id="project_date" class="date-picker form-control" required="required" type="text" value="{{bid.start_date|date:'m/d/Y'}}">
                            </div>
                            <div class="form-group col-md-12 col-lg-12 col-sm-12">
                              <label class="control-label">End Date<span class="required">*</span>
                              </label>
                              <input id="project_date" class="date-picker form-control" required="required" type="text" value="{{bid.end_date|date:'m/d/Y'}}">
                            </div>
                            <div class="form-group col-md-12 col-lg-12 col-sm-12">
                              <label class="control-label">Cost<span class="required">*</span>
                              </label>
                              <input type="text" readonly value={{bid.cost}} class="form-control" required="required">
                            </div>
                          </div>
                          <input type="hidden" value={{bid.uid}}>
                          <!--<button type="button" class="btn btn-warning">Modify</button>-->
                        </form>
                      
                          <button onclick="acceptmovebid('{{bid.uid}}')" type="submit" class="btn btn-success">Accept</button>
                      
                      
                          <td><button type="button" onclick="rejectmovebid('{{bid.uid}}');" class="btn btn-danger" >Reject</button></td>
                      
                        
                      </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          {% endif %}
          {% endif %}
          {% endfor %}
            <!--<div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div class="row">
                      <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                        <div class="profile_img">
                          <div id="crop-avatar">

                            <img class="img-responsive avatar-view" src="images/img.png" alt="Avatar" title="Change the avatar">
                          </div>
                        </div>
                        <h3>Contractor Name</h3>

                        <ul class="list-unstyled user_data">
                          <li><i class="fa fa-phone user-profile-icon"></i> 732-540-4335
                          </li>

                          <li><i class="fa fa-map-marker user-profile-icon"></i> Somerville, New Jersey, USA
                          </li>

                          <li class="m-top-xs">
                            <i class="fa fa-external-link user-profile-icon"></i>
                            <a href="http://www.wecareportal.com" target="_blank">www.wecare.com</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-12">


                        <h4>Skills</h4>
                        <ul class="list-unstyled user_data">
                          <li>
                            <p>Home Exterior</p>
                            <div class="progress progress_sm">
                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                            </div>
                          </li>
                          <li>
                            <p>Windows</p>
                            <div class="progress progress_sm">
                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70"></div>
                            </div>
                          </li>
                          <li>
                            <p>Ramps</p>
                            <div class="progress progress_sm">
                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
                            </div>
                          </li>
                          <li>
                            <p>Entry</p>
                            <div class="progress progress_sm">
                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                            </div>
                          </li>
                          <li>
                            <p>Rating</p>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </li>
                        </ul>

                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div>
                          <div class="form-group col-md-12 col-lg-12 col-sm-12">
                            <label class="control-label">Start Date<span class="required">*</span>
                            </label>
                            <input id="project_date" class="date-picker form-control" required="required" type="text">
                          </div>
                          <div class="form-group col-md-12 col-lg-12 col-sm-12">
                            <label class="control-label">End Date<span class="required">*</span>
                            </label>
                            <input id="project_date" class="date-picker form-control" required="required" type="text">
                          </div>
                          <div class="form-group col-md-12 col-lg-12 col-sm-12">
                            <label class="control-label">Cost<span class="required">*</span>
                            </label>
                            <input type="text" value="$20,000" class="form-control" required="required">
                          </div>
                        </div>
                        <button type="button" class="btn btn-success">Accept</button>
                        <button type="button" class="btn btn-warning">Modify</button>
                        <button type="button" class="btn btn-danger">Reject</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>-->

          </div>
        </div>

      
        <div id="RejectMovebidModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
              
             
                <div class="modal-body modal-sm"style="margin-left: 34px;">
                  Do you want to reject this bid?
                  
                </div>
                <div style="margin-left: 75px;">      
                  <form  method="POST" action="{%url 'reject_move_bid'  %}"  class="form-horizontal form-label-left input_mask" style="float: left;">
                    {% csrf_token %}
                  <input type="hidden" name="bid_id" id="bid_id" >            
                  <button type="submit" class="btn btn-success antoclose2" >Yes</button>&nbsp;&nbsp;
                </form>
                  <!--<button class="btn btn-success">Add new shifts</a>-->
                  <button type="button" data-dismiss="modal" class="btn btn-danger">No</a>
                </div>
            </div>
            </div>
          </div>
        </div>



        <div id="AcceptMovebidModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
              
             
                <div class="modal-body modal-sm"style="margin-left: 34px;">
                  Do you want to accpet this bid?
                  
                </div>
                <div style="margin-left: 75px;"> 
                       
                  <form  method="POST" action="{%url 'accept_move_bid'  %}"  class="form-horizontal form-label-left input_mask" style="float: left;">
                    {% csrf_token %}
                  <input type="hidden" name="bid_id" id="bid_id_accept" >            
                  <button type="submit" class="btn btn-success antoclose2" >Yes</button>&nbsp;&nbsp;
                </form>
                  <!--<button class="btn btn-success">Add new shifts</a>-->
                  <button type="button" data-dismiss="modal" class="btn btn-danger">No</a>
                </div>
            </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
{% endblock %}
{% block footlibs %}
    <!-- morris.js -->
    <script src="{% static 'vendors/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'vendors/morris.js/morris.min.js' %}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{% static 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
{% endblock %}
{% block scripts %}
    <!-- bootstrap-daterangepicker -->
    <script>
      $(document).ready(function() {
        $('[id^=project_date]').daterangepicker({
          singleDatePicker: true,
          calender_style: "picker_4"
        }, function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
        });
      });
    </script>


<script type="text/javascript">
  function rejectmovebid(bid){
    
    $('#bid_id').val(bid);
    $('#RejectMovebidModal').modal()
  };
</script>

<script type="text/javascript">
  function acceptmovebid(bid){
    
    $('#bid_id_accept').val(bid);
    $('#AcceptMovebidModal').modal()
  };
</script>

    <!-- /bootstrap-daterangepicker -->
{% endblock %}
